/* Colors */
/* Imports */
.js-well {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #333;
  background-color: #333;
  border-radius: 4px; }
  .js-well .highlight pre {
    border: none; }

.orange-divider {
  margin: 80px auto 0px;
  width: 60%;
  border-bottom: 2px solid #F3971F; }

.hll {
  background-color: #222222; }

.c {
  color: #000080; }

/* Comment */
.err {
  color: #cccccc;
  border: 1px solid #FF0000; }

/* Error */
.g {
  color: #cccccc; }

/* Generic */
.k {
  color: #ffff00; }

/* Keyword */
.l, .n {
  color: #cccccc; }

/* Literal */
/* Name */
.o {
  color: #AA5303; }

/* Operator */
.x, .p {
  color: #cccccc; }

/* Other */
/* Punctuation */
.cm {
  color: #000080; }

/* Comment.Multiline */
.cp {
  color: #AA5303; }

/* Comment.Preproc */
.c1 {
  color: #555555; }

/* Comment.Single */
.cs {
  color: #cd0000;
  font-weight: bold; }

/* Comment.Special */
.gd {
  color: #cd0000; }

/* Generic.Deleted */
.ge {
  color: #cccccc;
  font-style: italic; }

/* Generic.Emph */
.gr {
  color: #FF0000; }

/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.gi {
  color: #00cd00; }

/* Generic.Inserted */
.go {
  color: #808080; }

/* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.gs {
  color: #cccccc;
  font-weight: bold; }

/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.gt {
  color: #0040D0; }

/* Generic.Traceback */
.kc {
  color: #cdcd00; }

/* Keyword.Constant */
.kd {
  color: #00cd00; }

/* Keyword.Declaration */
.kn {
  color: #cd00cd; }

/* Keyword.Namespace */
.kp, .kr {
  color: #cdcd00; }

/* Keyword.Pseudo */
/* Keyword.Reserved */
.kt {
  color: #00cd00; }

/* Keyword.Type */
.ld {
  color: #cccccc; }

/* Literal.Date */
.m {
  color: #cd00cd; }

/* Literal.Number */
.s {
  color: #cd0000; }

/* Literal.String */
.na {
  color: #ffb225; }

/* Name.Attribute */
.nb {
  color: #cdcd00; }

/* Name.Builtin */
.nc {
  color: #00cdcd; }

/* Name.Class */
.no, .nd, .ni {
  color: #cccccc; }

/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
.ne {
  color: #666699;
  font-weight: bold; }

/* Name.Exception */
.nf, .nl, .nn, .kd + .nx {
  color: #cccccc; }

/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
.nx {
  color: #F3971F; }

/* Name.Other */
.py, .nt {
  color: #cccccc; }

/* Name.Property */
/* Name.Tag */
.nv {
  color: #c39b2f; }

/* Name.Variable */
.ow {
  color: #cdcd00; }

/* Operator.Word */
.w {
  color: #cccccc; }

/* Text.Whitespace */
.mf, .mh {
  color: #cd00cd; }

/* Literal.Number.Float */
/* Literal.Number.Hex */
.mi {
  color: #FFB90F; }

/* Literal.Number.Integer */
.mo {
  color: #cd00cd; }

/* Literal.Number.Oct */
.sb, .sc, .sd {
  color: #cd0000; }

/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
.s2 {
  color: #F3971F; }

/* Literal.String.Double */
.se, .sh, .si, .sx, .sr {
  color: #cd0000; }

/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
.s1 {
  color: #cd3e3a; }

/* Literal.String.Single */
.ss {
  color: #cd0000; }

/* Literal.String.Symbol */
.bp {
  color: #cd00cd; }

/* Name.Builtin.Pseudo */
.vc, .vg, .vi {
  color: #00cdcd; }

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
.il {
  color: #cd00cd; }

/* Literal.Number.Integer.Long */
#sidebar.affix {
  top: 20px; }

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* all links */
  /* nested links */
  /* active & hover links */
  /* all active links */
  /* nested active links */
  /* hide inactive nested list */
  /* show active nested list */ }
  .bs-docs-sidebar .nav > li > a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400; }
  .bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px; }
  .bs-docs-sidebar .nav > .active > a,
  .bs-docs-sidebar .nav > li > a:hover,
  .bs-docs-sidebar .nav > li > a:focus {
    color: #991C1F;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #991C1F; }
  .bs-docs-sidebar .nav > .active > a,
  .bs-docs-sidebar .nav > .active:hover > a,
  .bs-docs-sidebar .nav > .active:focus > a {
    font-weight: 700; }
  .bs-docs-sidebar .nav .nav > .active > a,
  .bs-docs-sidebar .nav .nav > .active:hover > a,
  .bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500; }
  .bs-docs-sidebar .bs-docs-sidebar .nav ul.nav {
    display: none; }
  .bs-docs-sidebar .bs-docs-sidebar .nav > .active > ul.nav {
    display: block; }

/* Misc Styles */
body {
  position: relative; }

.red {
  color: #991C1F; }

.yellow {
  color: #F3971F; }

#wrap {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-top: 15px; }

.center {
  text-align: center; }

.example-img {
  margin-top: 30px; }

.spaced-caps {
  font-variant: small-caps;
  letter-spacing: .7em; }

.vspace {
  display: block;
  height: 100px; }

.highlight pre {
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 4px; }

.pre {
  font-family: 'Inconsolata', monospace;
  padding: 5px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #ccc;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 4px; }

.border-box {
  padding: 30px 15px;
  border-radius: 4px;
  border: 1px solid #151515; }

.container {
  padding: 0; }

.section {
  padding: 20px; }

.section-light {
  background-color: #e0e0e0; }

.section-dark {
  background-color: #ececec; }

.sub-section {
  padding-top: 5px;
  margin: 0 0 80px 20px; }
