<p class="lead">If you are using Laravel...</p>    

<p>Do not require the <span class="pre">vendor/autoload.php</span> file, since Laravel takes care of that.</p>
<p>And also, register the service provider by adding this line to the providers array in <span class="pre">app/config/app.php</span></p>
{% highlight php startinline %}
"Khill\Lavacharts\LavachartsServiceProvider"
{% endhighlight %}

<p>Don't worry about adding the class alias, it is loaded automatically.</p>

<p class="lead">Remember, while using Laravel, replace <span class="pre">$lava-></span> with <span class="pre">Lava::</span></p>
