---
layout: default
title: LavaChart API by kevinkhill
---

<a href="https://github.com/kevinkhill/LavaCharts" id="forkMe">
    <img src="public/images/forkme.png" alt="Fork me on GitHub">
</a>

<div id="slideout" class="clearfix">
    {% include api.drawer.html %}
</div>

<div class="wrap">
      <div class="subMenu" >
            <div class="inner">
                <a href="#" id="sTop" class="subNavBtn">Top</a>
                <a href="#" id="s1" class="subNavBtn">Lava</a>
                <a href="#" id="s2" class="subNavBtn">DataTables</a>
                <a href="#" id="s3" class="subNavBtn">Charts/Config</a>
                <a href="#" id="s4" class="subNavBtn">Config Objs</a>
                <a href="#" id="s5" class="subNavBtn end">Chaining</a>
            </div>
        </div>

<!--Heading-->
    <div class="section sTop">
        {% include api.heading.html %}
    </div>


<!--Lava-->
    <div class="section s1">
        {% include api.lava.html %}
    </div>


<!--DataTables-->
    <div class="section s2">
        {% include api.datatables.html %}
    </div>


<!--Charts & Config-->
	<div class="section s3">
            <div class="inner left"><a name="charts"></a>
               {% include api.chart.heading.html %}

            <h3>Parent Chart / Common Methods</h3>
                {% include api.chart.parent.html %}

            <h1 class="heading">Chart Specific</h1><a name="chartSpecific"></a>
                <p>This is the list of specific options that only apply to certain charts.</p>

            <h3>Line Chart</h3><a name="lineChart"></a>
                {% include api.chart.line.html %}

            <h3>Area Chart</h3><a name="areaChart"></a>
                {% include api.chart.area.html %}

            <h3>Pie / Donut Chart</h3><a name="pieChart"></a>
                {% include api.chart.pie.html %}

            <h3>Column Chart</h3><a name="columnChart"></a>
                {% include api.chart.column.html %}

            <h3>Geo Chart</h3><a name="geoChart"></a>
                {% include api.chart.geo.html %}

            </div>
    </div>


<!--Configs-->
    <div class="section s4">
        {% include api.configs.html %}
    </div>


<!--Chainging-->
    <div class="section s5">
        {% include api.chaining.html %}
    </div>


</div><!-- /wrap -->