---
layout: main
title: Lavacharts
---

<div class="section section-dark">
  <h1 id="intro">Introduction</h1>
  <p class="lead">Lavacharts is a wrapper for Google's powerful Javascript Chart API</p>
  <ul class="arrows">
    <li>The Lavachart library takes away the need for manual writing of Javascript in your views</li>
    <li>The library wraps the work of generating the proper Javascript, so you can focus on the data and not the JS in page.</li>
    <li>Configuration is intuitive and easy to follow since it correlates 1:1 with the Google Chart API.</li>
    <li>Designed to work with any PHP project, but some bonus features were added for Laravel users.</li>
    <li>Laravel specific features include: A ServiceProvider, Facade, and Blade template extensions.</li>
  </ul>
  <div class="vspace"></div>
  <p class="lead center">
    Found a <a href="//github.com/kevinkhill/lavacharts/issues">bug</a>? Have an <a href="//github.com/kevinkhill/lavacharts/issues">issue</a>?
  </p>
  <p class="lead center">
    Come visit the project on <a href="//github.com/kevinkhill/lavacharts">Github</a> and let me know.
  </p>
</div>


<div class="section section-light">
    {% include install.html %}
</div>

<div class="section section-light">
    {% include quickstart.html %}
</div>

<div class="section section-dark">
    {% include upgrade.html %}
</div>

<!--Usage-->
<div class="section section-dark">
  <h1 id="lavacharts">Lavacharts</h1>
  {% include lavacharts.html %}
  <div class="vspace"></div>
</div>

<div class="section section-light">
  <h1 id="datatables">DataTables</h1>
  {% include datatable.html %}
  <div class="vspace"></div>
</div>


<!--Charts-->
<div class="section section-dark">
    <h1 id="charts">Charts</h1>
    <p class="lead">Select a chart from the dropdown or sidebar menu to see the different configuration methods / options available.</p>
    <p>Create a new chart by calling from the top level Lava object, <span class="pre">$lava-></span> if not using Laravel, or <span class="pre">Lava::</span> when using the alias via service provider.
    <p>All of the methods below are also available to all of the charts, as all charts extend the parent <span class="pre">Chart</span></p>

    <div id="chart-parent" class="sub-section">
       <h2>Parent Chart</h2>
        {% include charts/parent-methods.html %}
    </div>

    {% for type in site.data.chartTypes %}
        <div id="chart-{{ type }}" class="sub-section">
            <h3>{{ type | capitalize }}Chart</h3>
            {% include charts/{{ type }}-docs.html param=type %}
        </div>
    {% endfor %}
</div>
<!--/Charts-->

<!--Dashboards-->
<div class="section section-light">
  <h1 id="dashboards">Dashboards</h1>
  {% include dashboards/dashboards.html %}
  <div class="vspace-50"></div>

  <div class="sub-section">
    <h3 id="dashboards-wrappers-chart">Chart Wrappers</h3>
    {% include dashboards/chart-wrappers.html %}
    <div class="vspace-50"></div>

    <h3 id="dashboards-wrappers-control">Control Wrappers</h3>
    {% include dashboards/control-wrappers.html %}
    <div class="vspace-50"></div>

    <h3 id="dashboards-filters">Filters</h3>
    {% include dashboards/filters.html %}
  </div>
</div>

<!--Examples-->
<div class="section section-dark">
  <h1 id="examples">Examples</h1>
  <p class="lead">Here are a few examples of the types of charts you can create.</p>

  {% for type in site.data.chartTypes %}
      <div id="example-{{ type }}" class="sub-section">
        {% include examples/{{ type }}.html %}
      </div>
  {% endfor %}
</div>

<!--Events-->
<div class="section section-dark">
  <h1 id="events">Lava.js</h1>
  <p class="lead">
    Providing extra functionality to your charts and dashboards
  </p>
  <h2 id="events">Chart Events</h2>
  {% include configs/events.html %}

  <h2 id="javascript">Javascript</h2>
  {% include configs/javascript.html %}
</div>
