---
layout: main
title: Lavacharts
---
<div class="section section-dark">
    {% include intro.html %}
</div>


<div class="section section-light">
    {% include install.html %}
</div>


<div class="section section-dark">
    {% include quickstart.html %}
</div>


<div class="section section-light">
    {% include upgrade.html %}
</div>


<div class="section section-dark">
  {% include lavacharts.html %}
</div>


<div class="section section-light">
  {% include datatable.html %}
</div>


<!--Charts-->
<div class="section section-dark">
    {% include charts.html %}
</div>


<!--Dashboards-->
<div class="section section-light">
  <h1 id="dashboards">Dashboards</h1>
  {% include dashboards/dashboards.html %}
  <div class="vspace-50"></div>

  <div class="sub-section">
    <h3 id="dashboards-wrappers-chart">Chart Wrappers</h3>
    {% include dashboards/chart-wrappers.html %}
    <div class="vspace-50"></div>

    <h3 id="dashboards-wrappers-control">Control Wrappers</h3>
    {% include dashboards/control-wrappers.html %}
    <div class="vspace-50"></div>

    <h3 id="dashboards-filters">Filters</h3>
    {% include dashboards/filters.html %}
  </div>
</div>


<!--Examples-->
<div class="section section-dark">
    {% include examples.html %}
</div>


<!--Events-->
<div class="section section-light">
  <h1 id="javascript">Javascript</h1>
  <p class="lead">
    Extra functionality for your charts and dashboards.
  </p>

  <div class="sub-section">
    {% include events.html %}
  </div>

  <div class="sub-section">
    {% include lava.js.html %}
  </div>
</div>


<div class="section section-dark">
    {% include faqs.html %}
</div>
