/* Imports */
@import url('//fonts.googleapis.com/css?family=Inconsolata:400,700')
@import "colors"
@import "bootstrap-variables"
@import "bootstrap"
@import "pygments"
@import "sidenav"


/* Misc Styles */
body
  position: relative

.red
  color: $lava-red

.yellow
  color: $lava-yellow

#banner
  margin-top: 90px

#wrap
  position: fixed
  top: 50px
  width: 100%
  height: 100%
  overflow: scroll
  padding-top: 15px

.center
  text-align: center

.example-img
  margin-top: 30px

.spaced-caps
  font-variant: small-caps
  letter-spacing: .7em

.vspace
  display: block
  height: 100px

.vspace-50
  display: block
  height: 50px

.highlight pre
  font-family: 'Inconsolata', monospace
  padding: 10px
  font-size: 13px
  line-height: 1.428571429
  color: #333
  background-color: #333
  border: 1px solid #ccc
  border-radius: 4px

.pre
  font-family: 'Inconsolata', monospace
  padding: 5px
  font-size: 13px
  line-height: 1.428571429
  color: #ccc
  background-color: #333
  border: 1px solid #ccc
  border-radius: 4px

.border-box
  padding: 30px 15px
  border-radius : 4px
  border : 1px solid rgb(21, 21, 21)

.container
  padding: 0

.section
  padding: 20px

.section-light
  background-color: #e0e0e0

.section-dark
  background-color: #ececec

.sub-section
  padding-top: 5px
  margin: 0 0 80px 20px

  .sub-section
    padding-top: 5px
    margin: 0 0 80px 20px

h2:before, h3:before
  display: block
  content: " "
  margin-top: -200px
  height: 200px
  visibility: hidden
