<p class="lead">Creating a new DataTable</p>
<p>The following is a simple example, just to get you up and running.</p>
<p>For an in-depth look at DataTables, <a href="#datatable">Click Here</a> or use the link from the menu.</p>
<ul>
  <li>First, create a new DataTable object using the method from Lavcharts.</li>
  <li>Next, add some columns, defining the structure of the chart's data.
	  <ul>
    	  <li><span class="pre">addDateColumn($description)</span> for dates</li>
        <li><span class="pre">addTimeOfDayColumn($description)</span> for times of the day</li>
        <li><span class="pre">addNumberColumn($description)</span> for numbers</li>
        <li><span class="pre">addStringColumn($description)</span> for strings</li>
        <li><span class="pre">addBooleanColumn($description)</span> for boolean values</li>
        <li><span class="pre">addRoleColumn($description)</span> for roles</li>
	  </ul>
  </li>
  <li>In this example, the first column is the horizontal axis, then then next two columns are the two sets of data.</li>
  <li>The <span class="pre">addRow()</span> method signature, follows the order in which the columns were added.
  <br />So here, data[0] is for 'day', data[1] is for 'projected' and data[2] is for 'official'</li>
</ul>

{% highlight php startinline %}
$stocksTable = $lava->DataTable();  // Lava::DataTable() if using Laravel

$stocksTable->addDateColumn('Day of Month')
            ->addNumberColumn('Projected')
            ->addNumberColumn('Official');

// Random Data For Example
for ($a = 1; $a < 30; $a++)
{
    $rowData = [
      "2014-8-$a", rand(800,1000), rand(800,1000)
    ];

    $stocksTable->addRow($rowData);
}
{% endhighlight %}
