<p class="lead">Rendering the chart</p>
<p>There are two ways to get your chart to display on your page.</p>
<ol>
	<li>The library will generate only the javascript, and render into a div with a set elementId</li>
	<li>The library will generate everything you need, div and javascript.</li>
</ol>

<p>Syntax: <span class="pre">render(chartType, chartLabel, elementId <em>[, bool | array(height, width)]</em>)</span></p>

{% highlight php startinline %}
// Example #1, output into a div you already created
// <div id="myStocks"></div>
echo $lava->render('LineChart', 'myFancyChart', 'myStocks');

// Example #2, have the library create the div
echo $lava->render('LineChart', 'myFancyChart', 'myStocks', true);

// Example #3, have the library create the div with a fixed size
echo $lava->render('LineChart', 'myFancyChart', 'myStocks', array('height'=>300, 'width'=>600));
{% endhighlight %}

<p>Alternatively, the render method is available from the Chart object as well, bypassing the need for inputing the type and title of the chart.</p>
{% highlight php startinline %}
// After creating the chart with $linechart = $lava->LineChart() or any other type,
// pass the Chart object to your view and call the render method with a div's elementId
echo $linechart->render('myStocks');
{% endhighlight %}
