body {
    margin:0;
    font-family:'Lato', sans-serif;
    color: #000;
}

#forkMe {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1000;
}

a, a:visited {
    color:#3d3d3d;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

ul li {
    display:inline;
    margin:0 1.2em;
}

ul.padleft {
    margin-left: -20px !important;
}

ul.arrows {
   margin-left: -40px;
   list-style:none;
}

ul.arrows li {
  display: list-item;
  margin:20px 0;
  background:url('images/arrow_bullet.png') no-repeat 0 0;
  padding-left:30px;
}

ul.arrows li em {
    color: #93c763;
    padding: 0 10px;
}

ul.arrows li strong {
    color: #62AEFF;
}

p {
    margin:2em 0;
    color:#fff;
}