<div id="slidecontent">
    <div class="toc-list">
        <h1>Lava Functions</h1>
        <ul>
            <li><a href="#dataTable">DataTable()</a></li>
            <li><a href="#lineChart">LineChart()</a></li>
            <li><a href="#areaChart">AreaChart()</a></li>
            <li><a href="#pieChart">PieChart()</a></li>
            <li><a href="#pieChart">DonutChart()</a></li>
            <li><a href="#columnChart">ColumnChart()</a></li>
            <li><a href="#geoChart">GeoChart()</a></li>
            <li><a href="#div">div()</a></li>
            <li><a href="#hasErrors">hasErrors()</a></li>
            <li><a href="#getErrors">getErrors()</a></li>
        </ul>
    </div>
    <div class="toc-list">
        <h1>Common Chart Config</h1>
        <ul>
            <li><a href="#pcConstructor">__constructor</a></li>
            <li><a href="#setConfig">setConfig</a></li>
            <li><a href="#outputInto">outputInto</a></li>
            <li><a href="#pcDataTable">dataTable</a></li>
            <li><a href="#backgroundColor">backgroundColor</a></li>
            <li><a href="#chartArea">chartArea</a></li>
            <li><a href="#colors">colors</a></li>
            <li><a href="#fontSize">fontSize</a></li>
            <li><a href="#fontName">fontName</a></li>
            <li><a href="#height">height</a></li>
            <li><a href="#width">width</a></li>
        </ul>
    </div>
    <div class="toc-list">
        <h1>Config Objects</h1>
        <ul>
            <li><a href="#backgroundColor">Background Color</a></li>
            <li><a href="#chartArea">Chart Area</a></li>
            <li><a href="#textStyle">Text Style</a></li>
            <li><a href="#legend">Legend</a></li>
            <li><a href="#tooltip">Tooltip</a></li>
            <li><a href="#axis">Axis</a></li>
            <li><a href="#hAxis">Horizontal Axis</a></li>
            <li><a href="#vAxis">Vertical Axis</a></li>
            <li><a href="#colorAxis">Color Axis</a></li>
            <li><a href="#slice">Slice</a></li>
            <li><a href="#sizeAxis">Size Axis</a></li>
            <li><a href="#magnifyingGlass">Magnifying Glass</a></li>
            <li><a href="#jsDate">jsDate</a></li>
        </ul>
    </div>
</div>
<div id="clickme"></div>