<div class="inner">
    <div class="welcome">
        <table>
            <tr>
                <td>
                    <a href="http://laravel.com" title="Laravel PHP Framework">
                        <img src="public/images/laravel.png" alt="Laravel Logo">
                    </a>
                </td>
                <td style="vertical-align: middle;">
                    <span id="plus">+</span>
                </td>
                <td>
                    <a href="https://developers.google.com/chart/interactive/docs/gallery" title="Google Chart Gallery">
                        <img src="public/images/googledev.png" alt="Google Developers Logo">
                    </a>
                </td>
            </tr>
        </table>
        <h1>LavaCharts API</h1>
        <h2>Easy and Simple Documentation<br />To Get Your Lava Flowing!</h2>
    </div>
</div>
<br class="clear">