<h1 id="charts">Charts</h1>
<p class="lead">Visualize your data</p>
<p>Create a new chart by calling it's name from the Lavacharts instance.</p>

<div class="row">
    <div class="col-sm-4">
        <h3>Lavacharts currently supports:</h3>
        <ul>
            <li><code>AreaChart</code></li>
            <li><code>BarChart</code></li>
            <li><code>CalendarChart</code></li>
            <li><code>ColumnChart</code></li>
            <li><code>ComboChart</code></li>
            <li><code>DonutChart</code></li>
            <li><code>GaugeChart</code></li>
            <li><code>GeoChart</code></li>
            <li><code>LineChart</code></li>
            <li><code>PieChart</code></li>
            <li><code>ScatterChart</code></li>
            <li><code>TableChart</code></li>
            <li><code>TreeMap</code></li>
        </ul>
    </div>
    <div class="col-sm-8">
        <h3>Example</h3>
{% highlight php startinline %}
    $lava->LineChart('UniqueTitle', $data [, $options [, 'element-id' ] ] )
{% endhighlight %}
    </div>
</div>
