<h1 id="faq">Frequently Asked Questions</h1>
<p class="lead">Here are some solutions to real world problems.</p>

<div id="faq-cell-format" class="sub-section">
    <h2>Formatting a single cell</h2>
    <p>If you don't want to apply a format to an entire column, you can manually create a DataCell object with the value and format string.</p>

    <h3>Example</h3>
{% highlight php startinline %}
$data = $lava->DataTable();

$data->addNumberColumn('Values')
     ->addRow([15])
     ->addRow([22])
     ->addRow([26])
     ->addRow($lava->DataCell(31, 'Thirty One'))
     ->addRow([43])

{% endhighlight %}
</div>

<div id="faq-png-output" class="sub-section">
    <h2>Outputting charts as static PNGs</h2>
    <p>This freature was commonly requested, and the javascript solution was a little convoluted, so now, it is a simple toggle.</p>
    <p>It is as simple as adding <code>'png' => true</code> to the options of the chart.</p>

    <h3>Example</h3>
{% highlight php startinline %}
$data = $lava->DataTable();

/** Adding columns and rows */

$lava->LineChart('StaticChart', $data, [
    'png' => true
]);

{% endhighlight %}
</div>

<div id="faq-material-charts" class="sub-section">
    <h2>Outputting charts using Material styling</h2>
    <p>It is as simple as adding <code>'material' => true</code> to the options of the chart.</p>

    <h3>Example</h3>
{% highlight php startinline %}
$data = $lava->DataTable();

/** Adding columns and rows */

$lava->LineChart('StaticChart', $data, [
    'material' => true
]);

{% endhighlight %}

    <div class="alert alert-danger">
        <strong>Note:</strong> Only Line, Bar and Scatter charts are currently supported for Material design. Until Google updates their charts, I cannot force Material output.
    </div>
</div>
