<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-docs-social">
      <ul class="bs-docs-social-buttons">
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true" title="Star on GitHub" height="20" width="100"></iframe>
        </li>
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true" title="Fork on GitHub" height="20" width="102"></iframe>
        </li>
        <li class="follow-btn">
          <a href="https://twitter.com/getbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @getbootstrap</a>
        </li>
        <li class="tweet-btn">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getbootstrap.com/" data-count="horizontal" data-via="getbootstrap" data-related="mdo:Creator of Bootstrap">Tweet</a>
        </li>
      </ul>
    </div>
  </div>
</footer>


<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $('body').scrollspy({
      target: '.bs-docs-sidebar',
      offset: 600
  });
  $("#sidebar").affix({
      offset: {
        top: 600
      }
  });
</script>