<title>LavaCharts by kevinkhill</title>

<meta name="keywords" content="chart, laravel, bundle, package, composer, php" />
<meta name="description" content="Charts & Graphs for Laravel powered by the Google Chart API." />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no">

<link rel="stylesheet" href="public/master.min.css" type="text/css">
<script type="text/javascript" src="public/master.min.js"></script>

<script type="text/javascript">
    $(document).ready( function() {
        $('.subMenu').smint({
            'scrollSpeed' : 1000
        });

        $(window).on('scroll', function() {
            var st = $(this).scrollTop()-180;
            $('.welcome').css({
                'opacity' : (1 - st/150)
            });
        });
    });
</script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->