<h1 id="install">Installation</h1>
<p class="lead">Get up and running within minutes with <a href="https://getcomposer.org">Composer</a>.</p>
<p>If you don't know about Composer, I would highly recommend visiting their site and learning how to use it in your projects.</p>
<br />


<div id="install-composer" class="sub-section">
  <h2>With Composer</h2>
  <p>First, copy this line into your project's composer.json file, in the <code>"require": {}</code> section</p>

  {% highlight php startinline %}
  "khill/lavacharts" : "{{ site.composer_version }}"
  {% endhighlight %}
  <br />

  Next, run composer to download and install
  {% highlight php startinline %}
  composer update
  {% endhighlight %}
  <br />

  <p>Finally, <code>require 'vendor/autoload.php';</code> in your project and you are good to go!</p>
</div>


<div id="install-laravel" class="sub-section">
  <h2>Laravel</h2>
  <p class="lead">If you are using Laravel...</p>

  <p>Do not require the <code>vendor/autoload.php</code> file, since Laravel takes care of that.</p>
  <p>And also, register the service provider by adding this line to the providers array in <code>app/config/app.php</code></p>
  {% highlight php startinline %}
  "Khill\Lavacharts\Laravel\LavachartsServiceProvider"
  {% endhighlight %}

  <p>Don't worry about adding the class alias, it is loaded automatically.</p>

  <p class="lead">Remember, while using Laravel, replace <code>$lava-></code> with <code>Lava::</code></p>
</div>


<div id="install-manual" class="sub-section">
  <h2>Manual (Without Composer)</h2>
  <p>First, grab the most recent copy of the source from Github using this link:
    <a href="//github.com/kevinkhill/lavacharts/releases">
      <img src="//img.shields.io/github/release/kevinkhill/lavacharts.svg?style=plastic" />
    </a>
  </p>
  <p>You will also need to get a copy of the <code><a href="https://github.com/briannesbitt/Carbon">Carbon Library</a></code> since it the DataTables depend on Carbon.</p>
  <p>Then, include Carbon and Lavacharts and create a new instance of the library.</p>

{% highlight php startinline %}
include(/* path to unzipped carbon archive */     . '/src/Carbon/Carbon.php')
include(/* path to unzipped lavacharts archive */ . '/src/Lavacharts.php');

$lava = new \Khill\Lavacharts\Lavacharts;
{% endhighlight %}
</div>

<div class="vspace"></div>
