<h1 id="install">Installation</h1>
<p class="lead">Get up and running within minutes with <a href="https://getcomposer.org">Composer</a>.</p>
<p>If you don't know about Composer, I would highly recommend visiting their site and learning how to use it in your projects.</p>
<br />


<div id="install-composer" class="sub-section">
  <h2>Composer Projects</h2>
  <p>First, copy this line into your project's composer.json file, in the <code>"require": {}</code> section</p>

  <div class="pre">
    <span class="nt">"khill/lavacharts" : "{{ site.composer_version }}"</span>
  </div>
  <br />

  <p>Next, run composer to download and install</p>
{% highlight shell startinline %}
$ composer update
{% endhighlight %}
  <br />

  <p>Finally, <code>require('vendor/autoload.php');</code> in your project and you are good to go!</p>
</div>


<div id="install-laravel" class="sub-section">
  <h2>Laravel</h2>
  <h3>Service Provider</h3>
  <p>First step, register the service provider by adding the class namespace to the providers array in <code>app/config/app.php</code></p>
{% highlight php %}
"providers" => [
    ...

    'Khill\Lavacharts\Laravel\LavachartsServiceProvider',
]
{% endhighlight %}

  <p>If you are using PHP 5.5+, then you can use the new <code>::class</code> syntax to reference the Service Provider.</p>
{% highlight php %}
Khill\Lavacharts\Laravel\LavachartsServiceProvider::class
{% endhighlight %}

  <br />
  <h3>Facade / Alias</h3>
  <p>The functionality is based upon the single instance of the library, so it is strongly recommended to add the <code>Lava</code> alias for ease of use throughout your application.</p>
{% highlight php startinline %}
"aliases" => [
    ...

    'Lava' => 'Khill\Lavacharts\Laravel\LavachartsFacade',
]
{% endhighlight %}

  <p>Same as the service provider, if you are using PHP 5.5+, you can use the <code>::class</code> syntax.</p>
{% highlight php %}
Khill\Lavacharts\Laravel\LavachartsFacade::class
{% endhighlight %}
  <br/>
  <p class="lead">Remember, many examples show <code>$lava-></code> but while using Laravel, enable the alias and use <code>\Lava::</code> instead.</p>
</div>


<div id="install-manual" class="sub-section">
  <h2>Manual <small>(w/o Composer)</small></h2>
  <p>First, grab the most recent copy of the source from Github using this link:
    <a href="//github.com/kevinkhill/lavacharts/releases">
      <img src="//img.shields.io/github/release/kevinkhill/lavacharts.svg?style=plastic" />
    </a>
  </p>
  <p>You will also need to get a copy of the <code><a href="https://github.com/briannesbitt/Carbon">Carbon Library</a></code> since it the DataTables depend on Carbon.</p>
  <p>Then, include Carbon and Lavacharts and create a new instance of the library.</p>

{% highlight php startinline %}
<?php

include(/* path to unzipped carbon archive */     . '/src/Carbon/Carbon.php')
include(/* path to unzipped lavacharts archive */ . '/src/Lavacharts.php');

$lava = new \Khill\Lavacharts\Lavacharts;
{% endhighlight %}
</div>

<div class="vspace"></div>
