<h1 id="intro">Introduction</h1>
<p class="lead">Lavacharts is a wrapper for Google's powerful Javascript Chart API</p>
<ul class="arrows">
  <li>The Lavacharts library takes away the need for manual writing of Javascript in your views</li>
  <li>The library wraps the work of generating the proper Javascript, so you can focus on the data and not the JS in page.</li>
  <li>Configuration is intuitive and easy to follow since it correlates 1:1 with the Google Chart API.</li>
  <li>Designed to work with any PHP project, but some extra features were added for Laravel & Symfony users.</li>
  <li>For Laravel designers, included are a ServiceProvider, Facade, and Blade template extensions.</li>
  <li>For Symfony designers, a Bundle to add Lavacharts to the service container and Twig template extensions.</li>
</ul>
<div class="vspace"></div>
<p class="lead center">
  Found a <a href="//github.com/kevinkhill/lavacharts/issues">bug</a>, have an <a href="//github.com/kevinkhill/lavacharts/issues">issue</a>, typos in the <a href="//github.com/kevinkhill/lavacharts-site">docs</a>?
</p>
<p class="lead center">
  Come visit the <a href="//github.com/kevinkhill/lavacharts">project</a> or the <a href="//github.com/kevinkhill/lavacharts-site">site</a> on Github.
</p>
