<h2 id="lava-js">Lava.js</h2>
  <p>This is a module that will be added to the page, which is used by the library. It also provides some extra functionality to interact with your charts via javascript.

  <h3>Methods</h3>
  <div class="sub-section">
    <h4><code>lava.getChart(chartLabel, callback)</code></h4>
    <p>Pass in a chart label and a callback, to get access to the chart.</p>
{% highlight javascript startinline %}
lava.getChart('myFancyChart', function (chart) {
    console.log(chart);
});
{% endhighlight %}
  </div>

  <div class="sub-section">
    <h4><code>lava.getDashboard(dashboardLabel, callback)</code></h4>
    <p>Pass in a label and callback, to get access to the dashboard.</p>
{% highlight javascript startinline %}
lava.getDashboard('myFancyDashboard', function (dashboard) {
    console.log(dashboard);
});
{% endhighlight %}
  </div>

    <h4><code>lava.loadData(chartLabel, dataTableJson, callback)</code></h4>
    <p>This method will allow you to update charts via ajax, loading data using a datatable's <a href="#datatable-utility">toJson()</a> method.</p>
{% highlight javascript startinline %}
lava.loadData('myFancyChart', {dataTableJsonObject}, function (chart) {
    console.log(chart);
});
{% endhighlight %}

    <h4><code>lava.ready(callback)</code></h4>
<p>This method will allow timed interaction with the charts or dashboards. Wrap all <code>lava.method</code> calls within the ready callback, to avoid race conditions.</p>
{% highlight javascript startinline %}
lava.ready(function() {
    // All the charts are ready for interaction...
});
{% endhighlight %}

    <br />

    <h3 id="javascript-ajax">Ajax Data Loading</h3>
    <p>Here is an example of how to load charts with ajax, using jQuery.</p>

    <br/>
    <h4>Server Side</h4>
{% highlight php startinline %}
$temps = $lava->DataTable('America/Los_Angeles');

$temps->addDateColumn('Date')
      ->addNumberColumn('Max Temp')
      ->addNumberColumn('Mean Temp')
      ->addNumberColumn('Min Temp');

foreach(range(1, 30) as $day) {
    $temps->addRow(array(
        '2014-10-'.$day,
        rand(50,90),
        rand(50,90),
        rand(50,90)
    ));
}

return $temps->toJson();
{% endhighlight %}

    <br/>
    <h4>Page Script</h4>
{% highlight javascript startinline %}
lava.ready(function() {
    $.getJSON('http://my.cool.site.com/api/whatever/getDataTableJson', function (dataTableJson) {
        lava.loadData('Chart1', dataTableJson, function (chart) {
            console.log(chart);
        });
    });
});
{% endhighlight %}
</div>
