<h1 id="lavacharts">Lavacharts</h1>
<p class="lead">These methods are available from the main Lavacharts class.</p>
<br />

<div class="sub-section">
  <h2 id="lavacharts-utility">Utility Methods</h2>
  <div class="pre">
    <span class="k">DataTable</span>( [<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$timezone</span>] )
    <span class="s1">returns</span> DataTable
  </div>
  <p>Creates new instance of a DataTable.</p>
  <br />

  <div class="pre">
    <span class="k">Dashboard</span>( [<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$label</span>] )
    <span class="s1">returns</span> Dashboard
  </div>
  <p>Creates new instance of a dashboard.</p>
  <br />

  <div class="pre">
    <span class="k">render</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$chartType</span>, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$chartLabel</span>, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$divId</span> [, <a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$div</span> | <a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$divDimensions</span> ] )
    <span class="s1">returns</span> string
  </div>
  <p>Output the necessary javascript tags for getting the chart onto the page.</p>
  <br />

  <div class="pre">
    <span class="k">exists</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$chartType</span>, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$chartLabel</span> )
    <span class="s1">returns</span> bool
  </div>
  <p>Checks if the Chart exists in the Volcano (The library's internal storage class)</p>
  <br />

  <div class="pre">
    <span class="k">jsapi</span>( [<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$timezone</span>] )
    <span class="s1">returns</span> string
  </div>
  <p>This method with output the script tag for the google jsapi, along with lava.js; A custom module for lavacharts.</p>
  <p>Used with Angular so the script tag is not placed inside an ng-view and can be manually placed in the header / footer.</p>
  <div class="alert alert-danger" role="alert">
    <strong>Note:</strong> If you do not need manual placement, ignore this method and the render methods will automatically add the script tags for you.
  </div>
  <br />

  <h2 id="lavacharts-charts">Charts</h2>
  {% for type in site.data.chartTypes %}
    <div class="pre">
      <span class="k">{{ type | capitalize }}Chart</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$title</span>, <a href="#datatables">DataTable</a> <span class="nv">$datatable</span> [, <a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$options</span> ] )
      <span class="s1">returns</span> Chart
    </div>
  {% endfor %}
  <br />

  <h2 id="lavacharts-formats">Formats</h2>
  {% for type in site.data.formatTypes %}
    <div class="pre">
      <span class="k">{{ type | capitalize }}Format</span>( <a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$options</span> )
      <span class="s1">returns</span> Format
    </div>
  {% endfor %}
</div>

<div class="vspace"></div>
