<li>
  <a href="#install">Install</a>
  <ul class="nav nav-stacked">
      <li><a href="#install-composer">Composer</a></li>
      <li><a href="#install-laravel">Laravel</a></li>
      <li><a href="#install-manual">Manual</a></li>
  </ul>
</li>

<li>
  <a href="#quickstart">Quickstart</a>
  <ul class="nav nav-stacked">
    {% include menu-links/quickstart.html %}
  </ul>
</li>

<li>
  <a href="#lavacharts">Lava & Volcano</a>
  <ul class="nav nav-stacked">
    <li><a href="#"></a></li>
    <li><a href=""></a></li>
  </ul>
</li>

<li>
  <a href="#datatables">DataTables</a>
  <ul class="nav nav-stacked">
    {% include menu-links/datatables.html %}
  </ul>
</li>

<li>
  <a href="#charts">Charts</a>
  <ul class="nav nav-stacked">
    {% include menu-links/charts.html %}
  </ul>
</li>

<li>
  <a href="#dashboards">Dashboards</a>
  <ul class="nav nav-stacked">
    {% include menu-links/dashboards.html %}
  </ul>
</li>

<li>
  <a href="#examples">Examples</a>
  <ul class="nav nav-stacked">
    {% include menu-links/examples.html %}
  </ul>
</li>

<li>
  <a href="#configs">Customize</a>
  <ul class="nav nav-stacked">
    {% include menu-links/configs.html %}
  </ul>
</li>

<li>
  <a href="#javascript">Javascript</a>
  <ul class="nav nav-stacked">
    {% include menu-links/events.html %}
    {% include menu-links/javascript.html %}
  </ul>
</li>
