<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">

  <ul id="sidebar" class="nav nav-stacked">

    <li>
      <a href="#">Quickstart</a>
      <ul class="nav nav-stacked">
        <li><a href="#install">Install</a></li>
        <li><a href="#quickstart-datatable">DataTables</a></li>
        <li><a href="#quickstart-chart">Charts</a></li>
        <li><a href="#quickstart-output">Rendering</a></li>
        <li><a href="#config-howto">Customizing</a></li>
      </ul>
    </li>

    <li>
      <a href="#">DataTables</a>
      <ul class="nav nav-stacked">
        <li><a href="#datatable-columns">Columns</a></li>
        <li><a href="#datatable-rows">Rows</a></li>
        <li><a href="#datatable-formats">Formats</a></li>
        <li><a href="#datatable-utility">Utility</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Charts</a>
      <ul class="nav nav-stacked">
        <li><a href="#charts">Parent Chart</a></li>
        <li><a href="#chart-line">Line Chart</a></li>
        <li><a href="#chart-area">Area Chart</a></li>
        <li><a href="#chart-bar">Bar Chart</a></li>
        <li><a href="#chart-column">Column Chart</a></li>
        <li><a href="#chart-combo">Combo Chart</a></li>
        <li><a href="#chart-pie">Pie Chart</a></li>
        <li><a href="#chart-donut">Donut Chart</a></li>
        <li><a href="#chart-geo">Geo Chart</a></li>
        <li><a href="#chart-calendar">Calendar Chart</a></li>
        <li><a href="#chart-gauge">Gauge Chart</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Examples</a>
      <ul class="nav nav-stacked">
        <li><a href="#example-line">Line Chart</a></li>
        <li><a href="#example-area">Area Chart</a></li>
        <li><a href="#example-bar">Bar Chart</a></li>
        <li><a href="#example-column">Column Chart</a></li>
        <li><a href="#example-combo">Combo Chart</a></li>
        <li><a href="#example-pie">Pie Chart</a></li>
        <li><a href="#example-donut">Donut Chart</a></li>
        <li><a href="#example-geo">Geo Chart</a></li>
        <li><a href="#example-calendar">Calendar Chart</a></li>
        <li><a href="#example-gauge">Gauge Chart</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Customize</a>
      <ul class="nav nav-stacked">
        <li><a href="#configs">Config Options</a></li>
        <li><a href="#config-annotation">Annotation</a></li>
        <li><a href="#config-backgroundcolor">BackgroundColor</a></li>
        <li><a href="#config-boxstyle">BoxStyle</a></li>
        <li><a href="#config-chartarea">ChartArea</a></li>
        <li><a href="#config-color">Color</li>
        <li><a href="#config-coloraxis">ColorAxis</a></li>
        <li><a href="#config-gradient">Gradient</a></li>
        <li><a href="#config-horizontalaxis">HorizontalAxis</a></li>
        <li><a href="#config-legend">Legend</a></li>
        <li><a href="#config-magnifyingglass">MagnifyingGlass</a></li>
        <li><a href="#config-series">Series</a></li>
        <li><a href="#config-sizeaxis">SizeAxis</a></li>
        <li><a href="#config-slice">Slice</a></li>
        <li><a href="#config-stroke">Stroke</a></li>
        <li><a href="#config-textstyle">TextStyle</a></li>
        <li><a href="#config-tooltip">Tooltip</a></li>
        <li><a href="#config-verticalaxis">VerticalAxis</a></li>
      </ul>
    </li>

    <li>
      <a href="#javascript">Javascript</a>
      <ul class="nav nav-stacked">
        <li><a href="#events">Ready</a></li>
        <li><a href="#events">MouseOut</a></li>
        <li><a href="#events">MouseOver</a></li>
        <li><a href="#events">Select</a></li>
        <li><a href="#javascript">Event Callbacks</a></li>
        <li><a href="#javascript">Lava Helpers</a></li>
        <li><a href="#javascript-ajax">Ajax Loading</a></li>
      </ul>
    </li>
  </ul>

<nav>
