<h1 id="quickstart">Getting Started</h1>
<p>Getting up and running with Lavacharts is a breeze and if you follow along, you will learn how Lavacharts works. If you want some real working <a href="#examples">examples</a> just jump down and take a look. Following these steps will show you how to create a DataTable, add columns and rows, add data, and finally render the chart into the page.</p>
<br />

<div id="quickstart-datatable" class="sub-section">
  <h2>DataTable</h2>
  <p class="lead">Creating a new DataTable for your chart.</p>
  <p>The following is a simple example, just to get you up and running.</p>
  <p>For an in-depth look at DataTables, <a href="#datatables">Click Here</a> or use the link from the menu.</p>
  <ul>
    <li>First, create a new DataTable object using the method from Lavcharts.</li>
    <li>Next, add some columns, defining the structure of the chart's data.
        <ul>
          <li><code>addDateColumn($description)</code> for dates</li>
          <li><code>addTimeOfDayColumn($description)</code> for times of the day</li>
          <li><code>addNumberColumn($description)</code> for numbers</li>
          <li><code>addStringColumn($description)</code> for strings</li>
          <li><code>addBooleanColumn($description)</code> for boolean values</li>
          <li><code>addRoleColumn($description)</code> for roles</li>
        </ul>
    </li>
    <li>In this example, the first column is the horizontal axis, then then next two columns are the two sets of data.</li>
    <li>The <code>addRow()</code> method signature, follows the order in which the columns were added.
    <br />So here, data[0] is for 'day', data[1] is for 'projected' and data[2] is for 'official'</li>
  </ul>

{% highlight php startinline %}
$stocksTable = $lava->DataTable();  // \Lava::DataTable() if using Laravel

$stocksTable->addDateColumn('Day of Month')
            ->addNumberColumn('Projected')
            ->addNumberColumn('Official');

// Random Data For Example
for ($a = 1; $a < 30; $a++) {
    $stocksTable->addRow([
      '2015-10-' . $a, rand(800,1000), rand(800,1000)
    ]);
}
{% endhighlight %}
</div>
<br />
<br />


<div id="quickstart-chart" class="sub-section">
  <h2>Charts</h2>
  <p class="lead">Creating and customizing your chart.</p>
  <p>Select which type of chart you will be creating. In this example, we will use LineChart, but Lavacharts currently supports:
  <ul class="arrows">
    {% for type in site.data.chartTypes %}
      <li><a href="#chart-{{ type }}">{{ type | capitalize }}Charts</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    <div class="col-sm-6">
{% highlight php startinline %}
$chart = $lava->LineChart('MyStocks', $stocksTable);
{% endhighlight %}
    </div>
    <div class="col-sm-6">
{% highlight php startinline %}
$chart = $lava->ColumnChart('Inventory', $products, [
    'title' => 'Product Inventory Quantities',
    'legend' => [
        'position' => 'in'
    ]
]);
{% endhighlight %}
    </div>
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>Heads up!</strong> The constructor returns a chart object, which is useful for chaining, but you do not need to pass this to your views. Lavacharts stores the created charts internally, so only the single instance of <code>$lava</code> needs to be passed around.
  </div>
  <div class="alert alert-warning" role="alert">
    <strong>Laravel Users:</strong> Don't even worry about passing <code>$lava</code> around, since it was created in the ServiceProvider, you can use the <code>Lava::</code> alias everywhere.
  </div>
</div>
<br />
<br />


<div id="quickstart-output" class="sub-section">
  <h2>Output</h2>
  <p class="lead">Rendering the chart</p>
  <p>All you need to do in your view, is use the render method and the library will output all of the neccessary javascript into the page.</p>
  <p>Syntax: <code>render(chartType, chartLabel, elementId)</code></p>

{% highlight php startinline %}
// If this is the div you want your chart to appear in, then call:
// <div id="stocks-chart"></div>
echo $lava->render('LineChart', 'MyStocks', 'stocks-chart');
{% endhighlight %}
  <div class="alert alert-danger" role="alert">
    <strong>Take note...</strong> The render method will output two script tags, not the actual chart. This means you don't need to put the render call near the div. The chart will be rendered into the div once the google jsapi has been loaded.
  </div>
</div>

<div class="vspace"></div>
