<p>After creating a filter, you wrap it with a control that will allow the view of the chart to be changed.</p>
<p>Pass in a filter and the HTML element id where the dashboard's control is to be rendered.</p>

<div class="pre">
  <span class="k">__construct</span>(<a href="#dashboards-filters">Filter</a> <span class="nv">$filter</span>, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$elementId</span>)
  <span class="s1">returns</span> ControlWrapper
</div>