<p class="lead">Create dynamic data displays.</p>
<p>Dashboards are charts that have controls and filters attached to them. This enables the dynamically display of chart data through filters and controls.</p>

<div class="pre">
  <span class="k">__construct</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$label</span>)
  <span class="s1">returns</span> Dashboard
</div>
<div class="pre">
  <span class="k">bind</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$label</span>, <a href="#dashboards-wrappers-control">ControlWrapper</a> <span class="nv">$cw</span>, <a href="#dashboards-wrappers-chart">ChartWrapper</a> <span class="nv">$cw</span>)
</div>
<p></p>
