<p>Used within a control wrapper, these filters work with the controls to alter the chart's display.</p>
<p>All of the filters return a filter object, which is used with a <span class="pre">ControlWrapper()</span>

<div class="sub-section">
  <h3>Category</h3>
  {% highlight php startinline %}
  $categoryFilter = $lava->CategoryFilter('columnLabel');
  // Lava::CategoryFilter() if using Laravel
  {% endhighlight %}

  <h3>ChartRange</h3>
  {% highlight php startinline %}
  $chartRange = $lava->ChartRangeFilter('columnLabel');
  // Lava::ChartRangeFilter() if using Laravel
  {% endhighlight %}

  <h3>DateRange</h3>
  {% highlight php startinline %}
  $dateRange = $lava->DateRangeFilter('columnLabel');
  // Lava::DateRangeFilter() if using Laravel
  {% endhighlight %}

  <h3>NumberRange</h3>
  {% highlight php startinline %}
  $numberRange = $lava->NumberRangeFilter('columnLabel');
  // Lava::NumberRangeFilter() if using Laravel
  {% endhighlight %}

  <h3>String</h3>
  {% highlight php startinline %}
  $string = $lava->StringFilter('columnLabel');
  // Lava::StringFilter() if using Laravel
  {% endhighlight %}

  <p>More information can be found on <a href="https://developers.google.com/chart/interactive/docs/gallery/controls#controls-gallery" target="_blank">Google's Website</a></p>
</div>