<li><a href="#charts">Parent Chart</a></li>
<li><a href="#chart-line">Line Chart</a></li>
<li><a href="#chart-area">Area Chart</a></li>
<li><a href="#chart-bar">Bar Chart</a></li>
<li><a href="#chart-column">Column Chart</a></li>
<li><a href="#chart-combo">Combo Chart</a></li>
<li><a href="#chart-pie">Pie Chart</a></li>
<li><a href="#chart-donut">Donut Chart</a></li>
<li><a href="#chart-geo">Geo Chart</a></li>
<li><a href="#chart-calendar">Calendar Chart</a></li>
<li><a href="#chart-gauge">Gauge Chart</a></li>