<li><a href="#charts">Parent Chart</a></li>

{% for type in site.data.chartTypes %}
	<li><a href="#chart-{{ type }}">{{ type | capitalize }} Chart</a></li>
{% endfor %}

<li><a href="#chart-column">Column Chart</a></li>
<li><a href="#chart-combo">Combo Chart</a></li>
<li><a href="#chart-pie">Pie Chart</a></li>
<li><a href="#chart-donut">Donut Chart</a></li>
<li><a href="#chart-geo">Geo Chart</a></li>
<li><a href="#chart-calendar">Calendar Chart</a></li>
<li><a href="#chart-gauge">Gauge Chart</a></li>
