<li><a href="#configs">Config Options</a></li>
<li><a href="#config-annotation">Annotation</a></li>
<li><a href="#config-backgroundcolor">BackgroundColor</a></li>
<li><a href="#config-boxstyle">BoxStyle</a></li>
<li><a href="#config-chartarea">ChartArea</a></li>
<li><a href="#config-color">Color</li>
<li><a href="#config-coloraxis">ColorAxis</a></li>
<li><a href="#config-gradient">Gradient</a></li>
<li><a href="#config-horizontalaxis">HorizontalAxis</a></li>
<li><a href="#config-legend">Legend</a></li>
<li><a href="#config-magnifyingglass">MagnifyingGlass</a></li>
<li><a href="#config-series">Series</a></li>
<li><a href="#config-sizeaxis">SizeAxis</a></li>
<li><a href="#config-slice">Slice</a></li>
<li><a href="#config-stroke">Stroke</a></li>
<li><a href="#config-textstyle">TextStyle</a></li>
<li><a href="#config-tooltip">Tooltip</a></li>
<li><a href="#config-verticalaxis">VerticalAxis</a></li>