<div class="page-header center">
  <img src="/images/logo.gif" class="img-responsive" style="padding:0 10px; margin:0 auto;" />
  <h2>Charts and Graphs for PHP<br />Powered by the Google Chart API</h2>

  <div class="my-buttons">
    <a href="https://travis-ci.org/kevinkhill/Lavacharts">
      <img src="https://travis-ci.org/kevinkhill/Lavacharts.png?branch=2.0">
    </a>
    <a href="https://coveralls.io/repos/kevinkhill/Lavacharts.png?branch=2.0">
      <img src="//coveralls.io/repos/kevinkhill/Lavacharts/badge.png?branch=2.0" />
    </a>
    <a href="https://coveralls.io/r/kevinkhill/Lavacharts?branch=2.0">
      <img src="//poser.pugx.org/khill/lavacharts/downloads.svg" />
    </a>
    <a href="https://packagist.org/packages/khill/lavacharts">
      <img src="//poser.pugx.org/khill/lavacharts/license.svg" />
    </a>
  </div>
  <br />
  <div class="my-buttons">
    <iframe src="http://ghbtns.com/github-btn.html?user=kevinkhill&amp;repo=lavacharts&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=kevinkhill&amp;repo=lavacharts&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
  </div>
</div>