<p>All of the methods return the <span class="pre">Annotation</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Annotation's constructor</p>

<div class="pre">
  <span class="k">highContrast</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$hc</span>)
  <span class="s1">returns</span> Annotation
</div>
<div class="pre">
  <span class="k">textStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$ts</span>)
  <span class="s1">returns</span> Annotation
</div>