<p>All of the methods return the <span class="pre">ChartArea</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the ChartArea's constructor</p>

<div class="pre">
  <span class="k">left</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$l</span>)
  <span class="s1">returns</span> ChartArea
</div>
<div class="pre">
  <span class="k">top</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$t</span>)
  <span class="s1">returns</span> ChartArea
</div>
<div class="pre">
  <span class="k">width</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$w</span>)
  <span class="s1">returns</span> ChartArea
</div>
<div class="pre">
  <span class="k">height</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$h</span>)
  <span class="s1">returns</span> ChartArea
</div>