<p>All of the methods return the <span class="pre">Color</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Color's constructor</p>

<div class="pre">
  <span class="k">color</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$c</span>)
  <span class="s1">returns</span> Color
</div>
<div class="pre">
  <span class="k">backgroundColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$bc</span>)
  <span class="s1">returns</span> Color
</div>