<h3 id="datatable-columns">Columns</h3>
<p>There are many ways to add columns to the DataTable, using strings, arrays, or an array of arrays.</p>
<ul>
    <li>Type - Defines the type of data that will be in the column.</li>
    <li>colDesc - The description of the column. (optional)</li>
    <li>colLabel - A label used to access specific columns. (optional)</li>
    <li>format - The desired format for the column. (optional)</li>
</ul>
<div class="pre">
  <span class="k">addColumn</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$type</span> [, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colDesc</span> [, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colLabel</span> [, <a href="#format">Format</a> <span class="nv">$format</span> ]]] )
  <span class="s1">returns</span> DataTable
</div>
<div class="pre">
  <span class="k">addColumn</span>( <a href="http://php.net/manual/en/language.types.array.php">array</a>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$type</span> [, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colDesc</span> [, <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colLabel</span> [, <a href="#format">Format</a> <span class="nv">$format</span> ]]]) )
  <span class="s1">returns</span> DataTable
</div>
<div class="pre">
  <span class="k">addColumns</span>( <a href="http://php.net/manual/en/language.types.array.php">array</a>( <span class="c1">/* of column arrays, see above */</span> ) )
  <span class="s1">returns</span> DataTable
</div>
<br />

<p>Also provided are simplified, alias methods, which will automatically fill the type and colLabel.</p>
<ul><li>Note: The first columns label with be "col_1", then "col_2", etc.</li></ul>
<div class="pre">
  <span class="k">addDateColumn</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colDesc</span> [, <a href="#format">Format</a> <span class="nv">$format</span> ] )
  <span class="s1">returns</span> DataTable
</div>
<div class="pre">
  <span class="k">addNumberColumn</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colDesc</span> [, <a href="#format">Format</a> <span class="nv">$format</span> ] )
  <span class="s1">returns</span> DataTable
</div>
<div class="pre">
  <span class="k">addStringColumn</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$colDesc</span> )
  <span class="s1">returns</span> DataTable
</div>
<br />

<p>Other column related methods</p>
<div class="pre">
  <span class="k">getColumns</span>()
  <span class="s1">returns</span> <a href="http://php.net/manual/en/language.types.array.php">array</a>
</div>
<div class="pre">
  <span class="k">getNumberOfColumns</span>()
  <span class="s1">returns</span> <a href="http://php.net/manual/en/language.types.int.php">int</a>
</div>
<br />
<br />

<h3 id="datatable-rows">Rows</h3>
<p>Add rows either by chaining the single row command, or batch adding with the addRows() method.</p>
<ul><li>Note: Each row array added, must have the same number of data points as the number of columns.</li></ul>
<div class="pre">
  <span class="k">addRow</span>( <a href="http://php.net/manual/en/language.types.array.php">array</a>( <span class="nv">$c1</span> [, <span class="nv">$c2</span> [, <span class="nv">$cN</span> ]]) )
  <span class="s1">returns</span> DataTable
</div>
<div class="pre">
  <span class="k">addRows</span>( <a href="http://php.net/manual/en/language.types.array.php">array</a>( <span class="c1">/* of row arrays, see above */</span> ) )
  <span class="s1">returns</span> DataTable
</div>
<br />

<p>Other row related methods</p>
<div class="pre">
  <span class="k">getRows</span>()
  <span class="s1">returns</span> <a href="http://php.net/manual/en/language.types.array.php">array</a>
</div>
<div class="pre">
  <span class="k">getNumberOfRows</span>()
  <span class="s1">returns</span> <a href="http://php.net/manual/en/language.types.int.php">int</a>
</div>
<br />
<br />

<h3 id="datatable-formats">Formats</h3>
<p>Columns can have formats applied so the data/labels will be shown according to the format definition. The two available are:</p>
<ul>
    <li>DateFormat</li>
    <li>NumberFormat</li>
</ul>
<p>All of the methods return the <span class="pre">Format</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Format's constructor</p>
<p>Formats are created the same way as <a href="#configs">ConfigObjects</a></p>
<br />
<p class="lead">DateFormat</p>
<div class="pre">
  <span class="k">formatType</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$ft</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">pattern</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$p</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">timezone</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$tz</span> )
  <span class="s1">returns</span> Format
</div>
<p>Explanations of the methods can be found in <a href="https://developers.google.com/chart/interactive/docs/reference#dateformatter">Google's Documentation</a></p>
<br />


<p class="lead">NumberFormat</p>
<div class="pre">
  <span class="k">decimalSymbol</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$ds</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">fractionDigits</span>( <a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$fd</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">groupingSymbol</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$gs</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">negativeColor</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$nc</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">negativeParens</span>( <a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$np</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">pattern</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$p</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">prefix</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$p</span> )
  <span class="s1">returns</span> Format
</div>
<div class="pre">
  <span class="k">suffix</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$s</span> )
  <span class="s1">returns</span> Format
</div>
<p>Explanations of the methods can be found in <a href="https://developers.google.com/chart/interactive/docs/reference#numberformatter">Google's Documentation</a></p>
<br />
<br />

<h3 id="datatable-utility">Utility Methods</h3>
<p>Set the timezone to be used for Date columns, defaults to <span class="pre">America/Los_Angeles</pre></p>
<div class="pre">
  <span class="k">setTimezone</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$tz</span> )
  <span class="s1">returns</span> DataTable
</div>
<br />

<p>If using string dates, maybe to represent only years such as "2000" and they are not being interpreted correctly, then use this method to set the format string for the whole DataTable.</p>
<p>Use a format string following the <a href="http://php.net/manual/en/datetime.createfromformat.php">DateTime format</a></p>
<div class="pre">
  <span class="k">setDateTimeFormat</span>( <a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$dtf</span> )
  <span class="s1">returns</span> DataTable
</div>
<br />

<p>Get the JSON representation of a DataTable, useful for reloading charts via AJAX. (<a href="#javascript-ajax">See Example</a>)</p>
<div class="pre">
  <span class="k">toJson</span>()
  <span class="s1">returns</span> JSON Object
</div>
<br />

