<p>All of the methods return the <span class="pre">Gradient</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Gradient's constructor</p>

<div class="pre">
  <span class="k">color1</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$c1</span>)
  <span class="s1">returns</span> Gradient
</div>
<div class="pre">
  <span class="k">color2</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$c2</span>)
  <span class="s1">returns</span> Gradient
</div>
<div class="pre">
  <span class="k">x1</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="c1">/* representing a percent */</span> <span class="nv">$rx</span>)
  <span class="s1">returns</span> Gradient
</div>
<div class="pre">
  <span class="k">y1</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="c1">/* representing a percent */</span> <span class="nv">$rx</span>)
  <span class="s1">returns</span> Gradient
</div>
<div class="pre">
  <span class="k">x2</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="c1">/* representing a percent */</span> <span class="nv">$rx</span>)
  <span class="s1">returns</span> Gradient
</div>
<div class="pre">
  <span class="k">y2</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="c1">/* representing a percent */</span> <span class="nv">$rx</span>)
  <span class="s1">returns</span> Gradient
</div>