<div id="javascript" class="sub-section">
  <h3>Event Callbacks</h3>
  <p>Your callback is passed the javascript event object and a reference to the chart in which the event took place.</p>
{% highlight javascript startinline %}
function selectCallback (event, chart) {
  // Useful for using chart methods such as chart.getSelection();
}
{% endhighlight %}

  <h3>Helper Function</h3>
  <p>Also available for use in javascript, is the lava object which has helper functions.</p>
  <p>The <em>get</em> function takes a chart label (the label you used when creating the chart) and returns the chart object.</p>
{% highlight javascript startinline %}
lava.get('myFancyChart') returns Chart
{% endhighlight %}
    <p>This will let you access the chart outside of a chart event.</p>
<br/>

<h3>Javascript Output</h3>
{% highlight javascript startinline %}
var lava = lava || {get:null,event:null,charts:{}};
    lava.get = function (chartLabel) {
        var chartTypes = Object.keys(lava.charts),
            chart;

        if (typeof chartLabel === 'string') {
            if (Array.isArray(chartTypes)) {
                chartTypes.some(function (e) {
                    if (typeof lava.charts[e][chartLabel] !== 'undefined') {
                        chart = lava.charts[e][chartLabel].chart;

                        return true;
                    } else {
                        return false;
                    }
                });
            } else {
                return false;
            }
        } else {
            console.error('[Lavacharts] The input for lava.get() must be a string.');

            return false;
        }
    };

    lava.event = function (event, chart, callback) {
        return callback(event, chart);
    };
{% endhighlight %}
</div>