<div id="javascript" class="sub-section">
  <h3>Event Callbacks</h3>
  <p>To use events with your charts, follow these two easy steps:</p>
  <ul>
    <li>Define a javascript function within your page, before the rendering of any charts. In the example below, the function is called "selectHandler"</li>
    <li>While configuring your chart in PHP, pass the event object the name of your javascript function, as seen in the above examples.</li>
  </ul>
  <p>When the chart is rendered, your defined function will be wrapped with lava.event() which gives your function access to the event and chart objects.</p>
{% highlight javascript startinline %}
function selectHandler (event, chart) {
  // Useful for using chart methods such as chart.getSelection();
  console.log(chart.getSelection());
}
{% endhighlight %}

  <h3>Helper Function</h3>
  <p>Also available for use in javascript, is the lava object which has helper functions.</p>
  <p>The <em>get</em> function takes a chart label (the label you used when creating the chart) and returns the chart object.</p>
{% highlight javascript startinline %}
lava.get('myFancyChart') returns chart
{% endhighlight %}
    <p>This will let you access the chart and its methods outside of a chart event.</p>
<br/>

<h3>Javascript Output</h3>
{% highlight javascript startinline %}
var lava = lava || {get:null,event:null,charts:{}};
    lava.get = function (chartLabel) {
        var chartTypes = Object.keys(lava.charts),
            chart;

        if (typeof chartLabel === 'string') {
            if (Array.isArray(chartTypes)) {
                chartTypes.some(function (e) {
                    if (typeof lava.charts[e][chartLabel] !== 'undefined') {
                        chart = lava.charts[e][chartLabel].chart;

                        return true;
                    } else {
                        return false;
                    }
                });
            } else {
                return false;
            }
        } else {
            console.error('[Lavacharts] The input for lava.get() must be a string.');

            return false;
        }
    };

    lava.event = function (event, chart, callback) {
        return callback(event, chart);
    };
{% endhighlight %}
</div>