<div id="javascript" class="sub-section">
  <h3>Event Callbacks</h3>
  <p>To use events with your charts, follow these two easy steps:</p>
  <ul>
    <li>Define a javascript function within your page, before the rendering of any charts. In the example below, the function is called "selectHandler"</li>
    <li>While configuring your chart in PHP, pass the event object the name of your javascript function, as seen in the above examples.</li>
  </ul>
  <p>When the chart is rendered, your defined function will be wrapped with lava.event() which gives your function access to the event and chart objects.</p>
{% highlight javascript startinline %}
function selectHandler (event, chart) {
  // Useful for using chart methods such as chart.getSelection();
  console.log(chart.getSelection());
}
{% endhighlight %}
    <br/>

  <h3>Helper Functions</h3>
  <p>The <em>get</em> function takes a chart label (the label you used when creating the chart) and returns the chart object.</p>
  <h4>lava.get(chartLabel, callback)</h4>
{% highlight javascript startinline %}
lava.get('myFancyChart', function (chart) {
    console.log(chart);
});
{% endhighlight %}
    <p>This will let you access the chart and its methods outside of a chart event.</p>
    <br />

    <h4>lava.loadData(chartLabel, dataTableJson, callback)</h4>
{% highlight javascript startinline %}
lava.loadData('myFancyChart', {dataTableJsonObject}, function (chart) {
    console.log(chart);
});
{% endhighlight %}
    <p>This will allow you to update charts via ajax, loading data using a datatable's <a href="#datatable-utility">toJson()</a> method.</p>
    <br />

    <h3 id="javascript-ajax">Ajax Data Loading</h3>
    <p>Here is an example of how to reload charts with ajax, using jQuery.</p>

    <br/>
    <h4>Server Side</h4>
{% highlight php startinline %}
$temps = $lava->DataTable('America/Los_Angeles');

$temps->addDateColumn('Date')
      ->addNumberColumn('Max Temp')
      ->addNumberColumn('Mean Temp')
      ->addNumberColumn('Min Temp');

foreach(range(1, 30) as $day) {
    $temps->addRow(array(
        '2014-10-'.$day,
        rand(50,90),
        rand(50,90),
        rand(50,90)
    ));
}

return $temps->toJson();
{% endhighlight %}

    <br/>
    <h4>Page Script</h4>
{% highlight javascript startinline %}
$.getJSON('http://my.cool.site.com/api/whatever/getDataTableJson', function (dataTableJson) {
  lava.loadData('Chart1', dataTableJson, function (chart) {
    console.log(chart);
  });
});
{% endhighlight %}
</div>