<p>All of the methods return the <span class="pre">SizeAxis</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the SizeAxis's constructor</p>

<div class="pre">
  <span class="k">maxSize</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$ms</span>)
  <span class="s1">returns</span> SizeAxis
</div>
<div class="pre">
  <span class="k">maxValue</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$mv</span>)
  <span class="s1">returns</span> SizeAxis
</div>
<div class="pre">
  <span class="k">minSize</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$ms</span>)
  <span class="s1">returns</span> SizeAxis
</div>
<div class="pre">
  <span class="k">minValue</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$mv</span>)
  <span class="s1">returns</span> SizeAxis
</div>