<p>All of the methods return the <span class="pre">Slice</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Slice's constructor</p>

<div class="pre">
  <span class="k">color</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$c</span>)
  <span class="s1">returns</span> Slice
</div>
<div class="pre">
  <span class="k">offset</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$o</span>)
  <span class="s1">returns</span> Slice
</div>
<div class="pre">
  <span class="k">textStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$ts</span>)
  <span class="s1">returns</span> Slice
</div>