<p>All of the methods return the <span class="pre">Stroke</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Stroke's constructor</p>

<div class="pre">
  <span class="k">stroke</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$s</span>)
  <span class="s1">returns</span> Stroke
</div>
<div class="pre">
  <span class="k">strokeOpacity</span>(<a href="http://php.net/manual/en/language.types.float.php">float</a> <span class="nv">$so</span>)
  <span class="s1">returns</span> Stroke
</div>
<div class="pre">
  <span class="k">strokeWidth</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$sw</span>)
  <span class="s1">returns</span> Stroke
</div>