<p>All of the methods return the <span class="pre">TextStyle</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the TextStyle's constructor</p>

<div class="pre">
  <span class="k">color</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$c</span>)
  <span class="s1">returns</span> TextStyle
</div>
<div class="pre">
  <span class="k">fontName</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$fn</span>)
  <span class="s1">returns</span> TextStyle
</div>
<div class="pre">
  <span class="k">fontSize</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$fs</span>)
  <span class="s1">returns</span> TextStyle
</div>