<p>All of the methods return the <span class="pre">Tooltip</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Tooltip's constructor</p>

<div class="pre">
  <span class="k">showColorCode</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$scc</span>)
  <span class="s1">returns</span> Tooltip
</div>
<div class="pre">
  <span class="k">textStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$ts</span>)
  <span class="s1">returns</span> Tooltip
</div>
<div class="pre">
  <span class="k">trigger</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$t</span>)
  <span class="s1">returns</span> Tooltip
</div>