<h2>AreaChart Example</h2>
<h3>Controller</h3>
{% highlight php startinline %}
use Khill\Lavacharts\Lavacharts;

$lava = new Lavacharts; // See note below for Laravel

$population = $lava->DataTable();

$population->addDateColumn('Year')
           ->addNumberColumn('Number of People')
           ->addRow(['2006', 623452])
           ->addRow(['2007', 685034])
           ->addRow(['2008', 716845])
           ->addRow(['2009', 757254])
           ->addRow(['2010', 778034])
           ->addRow(['2011', 792353])
           ->addRow(['2012', 839657])
           ->addRow(['2013', 842367])
           ->addRow(['2014', 873490]);

$lava->AreaChart('Population', $population, [
    'title' => 'Population Growth',
    'legend' => [
        'position' => 'in'
    ]
]);
{% endhighlight %}
<p class="lead">For Laravel, omit "$lava = new Lavacharts" and replace "$lava->" with "Lava::"</p>
<p>Otherwise, pass <span class="code">$areachart</span> or <span class="code">$lava</span> to your view to render.</p>

<h3>View</h3>
<div class="row">
  <div class="col-sm-6">
      <h4>Vanilla</h4>
{% highlight php startinline %}
<div id="pop_div"></div>
// With the lava object
<?= $lava->render('AreaChart', 'Population', 'pop_div') ?>
{% endhighlight %}
  </div>
  <div class="col-sm-6">
    <h4>Laravel</h4>
{% highlight php startinline %}
<div id="pop_div"></div>
// With Lava class alias
<?= Lava::render('AreaChart', 'Population', 'pop_div') ?>

// With Blade Templates
@areachart('Population', 'pop_div')
{% endhighlight %}
  </div>
</div>

<div class="center example-img">
  <h3>Rendered Chart</h3>
  <img src="{{ site.baseurl }}/assets/images/examples/area.jpg" />
</div>
<br/>

<div class="orange-divider"></div>
