<h2>CalendarChart Example</h2>
<h3>Controller</h3>
{% highlight php startinline %}
use Khill\Lavacharts\Lavacharts;

$lava = new Lavacharts; // See note below for Laravel

$sales = $lava->DataTable();

$sales->addDateColumn('Date')
      ->addNumberColumn('Orders');

foreach (range(2, 5) as $month) {
    for ($a=0; $a < 20; $a++) {
        $day = rand(1, 30);
        $sales->addRow(array("2014-${month}-${day}", rand(0,100)));
    }
}

$calendarchart = $lava->CalendarChart('Sales')
                      ->setOptions(array(
                          'datatable' => $sales,
                          'title' => 'Cars Sold',
                          'unusedMonthOutlineColor' => $lava->Stroke(array(
                              'stroke'        => '#ECECEC',
                              'strokeOpacity' => 0.75,
                              'strokeWidth'   => 1
                          )),
                          'dayOfWeekLabel' => $lava->TextStyle(array(
                              'color' => '#4f5b0d',
                              'fontSize' => 16,
                              'italic' => true
                          )),
                          'noDataPattern' => $lava->Color(array(
                              'color' => '#DDD',
                              'backgroundColor' => '#11FFFF'
                          )),
                          'colorAxis' => $lava->ColorAxis(array(
                              'values' => array(0, 100),
                              'colors' => array('black', 'green')
                          ))
                      ));
{% endhighlight %}
<p class="lead">For Laravel, omit "$lava = new Lavacharts" and replace "$lava->" with "Lava::"</p>
<p>Otherwise, pass <span class="code">$calendarchart</span> or <span class="code">$lava</span> to your view to render.</p>

<h3>View</h3>
<div class="row">
  <div class="col-sm-6">
      <h4>Vanilla</h4>
{% highlight php startinline %}
<div id="sales_div"></div>
// With the chart object
<? echo $calendarchart->render('sales_div') ?>

// With the lava object
<? echo $lava->render('CalendarChart', 'Sales', 'sales_div') ?>
{% endhighlight %}
  </div>
  <div class="col-sm-6">
    <h4>Laravel</h4>
{% highlight php startinline %}
<div id="sales_div"></div>
// With Lava class alias
<? echo Lava::render('CalendarChart', 'Sales', 'sales_div') ?>

// With Blade Templates
@calendarchart('Sales', 'sales_div')
{% endhighlight %}
  </div>
</div>

<div class="center example-img">
  <h3>Rendered Chart</h3>
  <img src="images/examples/area.jpg" />
</div>
<br/>

<h3>Javascript Output</h3>
<div class="js-well">
{% highlight javascript startinline %}
lava.charts.CalendarChart["Sales"] = {chart:null,draw:null,data:null,options:null,formats:[]};

if (!document.getElementById("chart")){console.error("[Lavacharts] No matching element was found with ID \"chart\"");}

lava.charts.CalendarChart["Sales"].draw = function() {
var $this = lava.charts.CalendarChart["Sales"];

$this.data = new google.visualization.DataTable({"cols":[{"type":"date","label":"Date"},{"type":"number","label":"Orders"}],"rows":[{"c":[{"v":new Date(2014,1,28,0,0,0)},{"v":33}]},{"c":[{"v":new Date(2014,1,11,0,0,0)},{"v":27}]},{"c":[{"v":new Date(2014,1,7,0,0,0)},{"v":96}]},{"c":[{"v":new Date(2014,1,18,0,0,0)},{"v":96}]},{"c":[{"v":new Date(2014,1,14,0,0,0)},{"v":76}]},{"c":[{"v":new Date(2014,1,21,0,0,0)},{"v":25}]},{"c":[{"v":new Date(2014,1,24,0,0,0)},{"v":57}]},{"c":[{"v":new Date(2014,1,13,0,0,0)},{"v":79}]},{"c":[{"v":new Date(2014,1,17,0,0,0)},{"v":20}]},
/* Some data omitted for brevity */
{"c":[{"v":new Date(2014,1,20,0,0,0)},{"v":17}]},{"c":[{"v":new Date(2014,1,5,0,0,0)},{"v":59}]},{"c":[{"v":new Date(2014,1,11,0,0,0)},{"v":83}]},{"c":[{"v":new Date(2014,1,26,0,0,0)},{"v":6}]},{"c":[{"v":new Date(2014,1,7,0,0,0)},{"v":37}]},{"c":[{"v":new Date(2014,1,23,0,0,0)},{"v":4}]},{"c":[{"v":new Date(2014,2,1,0,0,0)},{"v":69}]},{"c":[{"v":new Date(2014,4,3,0,0,0)},{"v":67}]},{"c":[{"v":new Date(2014,4,21,0,0,0)},{"v":53}]},{"c":[{"v":new Date(2014,4,28,0,0,0)},{"v":9}]},{"c":[{"v":new Date(2014,4,10,0,0,0)},{"v":21}]},{"c":[{"v":new Date(2014,4,9,0,0,0)},{"v":24}]},{"c":[{"v":new Date(2014,4,27,0,0,0)},{"v":55}]},{"c":[{"v":new Date(2014,4,15,0,0,0)},{"v":44}]},{"c":[{"v":new Date(2014,4,9,0,0,0)},{"v":78}]}]}, 0.6);

$this.options = {"calendar":{"unusedMonthOutlineColor":{"stroke":"#ECECEC","strokeOpacity":0.75,"strokeWidth":1},"dayOfWeekLabel":{"color":"#4f5b0d","fontSize":16,"italic":true}},"title":"Cars Sold","noDataPattern":{"color":"#DDD","backgroundColor":"#11FFFF"},"colorAxis":{"values":[0,100],"colors":["black","green"]}};

$this.chart = new google.visualization.Calendar(document.getElementById("chart"));

$this.chart.draw($this.data, $this.options);
};

google.load('visualization', '1.1', {'packages':['calendar']});
google.setOnLoadCallback(lava.charts.CalendarChart["Sales"].draw);
{% endhighlight %}
</div>

<div class="orange-divider"></div>
