<h2>CalendarChart Example</h2>
<h3>Controller</h3>
{% highlight php startinline %}
use Khill\Lavacharts\Lavacharts;

$lava = new Lavacharts; // See note below for Laravel

$sales = $lava->DataTable();

$sales->addDateColumn('Date')
      ->addNumberColumn('Orders');

foreach (range(2, 5) as $month) {
    for ($a=0; $a < 20; $a++) {
        $day = rand(1, 30);
        $sales->addRow(["2014-${month}-${day}", rand(0,100)]);
    }
}

$lava->CalendarChart('Sales', $sales, [
    'title' => 'Cars Sold',
    'unusedMonthOutlineColor' => [
        'stroke'        => '#ECECEC',
        'strokeOpacity' => 0.75,
        'strokeWidth'   => 1
    ],
    'dayOfWeekLabel' => [
        'color'    => '#4f5b0d',
        'fontSize' => 16,
        'italic'   => true
    ],
    'noDataPattern' => [
        'color' => '#DDD',
        'backgroundColor' => '#11FFFF'
    ],
    'colorAxis' => [
        'values' => [0, 100],
        'colors' => ['black', 'green']
    ]
]);
{% endhighlight %}
<p class="lead">For Laravel, omit "$lava = new Lavacharts" and replace "$lava->" with "Lava::"</p>
<p>Otherwise, pass <span class="code">$calendarchart</span> or <span class="code">$lava</span> to your view to render.</p>

<h3>View</h3>
<div class="row">
  <div class="col-sm-6">
      <h4>Vanilla</h4>
{% highlight php startinline %}
<div id="sales_div"></div>
// With the lava object
<?= $lava->render('CalendarChart', 'Sales', 'sales_div') ?>
{% endhighlight %}
  </div>
  <div class="col-sm-6">
    <h4>Laravel</h4>
{% highlight php startinline %}
<div id="sales_div"></div>
// With Lava class alias
<?= Lava::render('CalendarChart', 'Sales', 'sales_div') ?>

// With Blade Templates
@calendarchart('Sales', 'sales_div')
{% endhighlight %}
  </div>
</div>

<div class="center example-img">
  <h3>Rendered Chart</h3>
  <img src="{{ site.baseurl }}/assets/images/examples/calendar.jpg" />
</div>
<br/>

<div class="orange-divider"></div>
