<h2>DonutChart Example</h2>
<h3>Controller</h3>
{% highlight php startinline %}
use Khill\Lavacharts\Lavacharts;

$lava = new Lavacharts; // See note below for Laravel

$reasons = $lava->DataTable();

$reasons->addStringColumn('Reasons')
        ->addNumberColumn('Percent')
        ->addRow(['Check Reviews', 5])
        ->addRow(['Watch Trailers', 2])
        ->addRow(['See Actors Other Work', 4])
        ->addRow(['Settle Argument', 89]);

$lava->DonutChart('IMDB', $reasons, [
    'title' => 'Reasons I visit IMDB'
]);
{% endhighlight %}
<p class="lead">For Laravel, omit "$lava = new Lavacharts" and replace "$lava->" with "Lava::"</p>
<p>Otherwise, pass <span class="code">$donutchart</span> or <span class="code">$lava</span> to your view to render.</p>

<h3>View</h3>
<div class="row">
  <div class="col-sm-6">
      <h4>Vanilla</h4>
{% highlight php startinline %}
<div id="chart-div"></div>
// With the lava object
<?= $lava->render('DonutChart', 'IMDB', 'chart-div') ?>
{% endhighlight %}
  </div>
  <div class="col-sm-6">
    <h4>Laravel</h4>
{% highlight php startinline %}
<div id="chart-div"></div>
// With Lava class alias
<?= Lava::render('DonutChart', 'IMDB', 'chart-div') ?>

// With Blade Templates
@donutchart('IMDB', 'chart-div')
{% endhighlight %}
  </div>
</div>

<div class="center example-img">
  <h3>Rendered Chart</h3>
  <img src="{{ site.baseurl }}/assets/images/examples/donut.jpg" />
</div>
<br/>

<div class="orange-divider"></div>
