<h2>GeoChart Example</h2>
<h3>Controller</h3>
{% highlight php startinline %}
use Khill\Lavacharts\Lavacharts;

$lava = new Lavacharts; // See note below for Laravel

$popularity = $lava->DataTable();

$popularity->addStringColumn('Country')
           ->addNumberColumn('Popularity')
           ->addRow(array('Germany', 200))
           ->addRow(array('United States', 300))
           ->addRow(array('Brazil', 400))
           ->addRow(array('Canada', 500))
           ->addRow(array('France', 600))
           ->addRow(array('RU', 700));

$geochart = $lava->GeoChart('Popularity')
                 ->setOptions(array(
                   'datatable' => $popularity
                 ));
{% endhighlight %}
<p class="lead">For Laravel, omit "$lava = new Lavacharts" and replace "$lava->" with "Lava::"</p>
<p>Otherwise, pass <span class="code">$geochart</span> or <span class="code">$lava</span> to your view to render.</p>

<h3>View</h3>
<div class="row">
  <div class="col-sm-6">
      <h4>Vanilla</h4>
{% highlight php startinline %}
<div id="pop-div"></div>
// With the chart object
<? echo $geochart->render('pop-div') ?>

// With the lava object
<? echo $lava->render('GeoChart', 'Popularity', 'pop-div') ?>
{% endhighlight %}
  </div>
  <div class="col-sm-6">
    <h4>Laravel</h4>
{% highlight php startinline %}
<div id="pop-div"></div>
// With Lava class alias
<? echo Lava::render('GeoChart', 'Popularity', 'pop-div') ?>

// With Blade Templates
@geochart('Popularity', 'pop-div')
{% endhighlight %}
  </div>
</div>

<div class="center example-img">
  <h3>Rendered Chart</h3>
  <img src="images/examples/geo.jpg" />
</div>
<br/>

<h3>Javascript Output</h3>
<div class="js-well">
{% highlight javascript startinline %}
lava.charts.GeoChart = {"Popularity":{chart:null,draw:null,data:null,options:null,formats:[]}};

if (!document.getElementById('chart')){console.error('[Lavaharts] No matching element was found with ID "chart"');}

lava.charts.GeoChart.Popularity.draw = function() {
var $this = lava.charts.GeoChart.Popularity;

$this.data = new google.visualization.DataTable({"cols":[{"type":"string","label":"Country"},{"type":"number","label":"Popularity"}],"rows":[{"c":[{"v":"Germany"},{"v":200}]},{"c":[{"v":"United States"},{"v":300}]},{"c":[{"v":"Brazil"},{"v":400}]},{"c":[{"v":"Canada"},{"v":500}]},{"c":[{"v":"France"},{"v":600}]},{"c":[{"v":"RU"},{"v":700}]}]}, 0.6);

$this.options = [];

$this.chart = new google.visualization.GeoChart(document.getElementById('chart'));

$this.chart.draw($this.data, $this.options);
};

google.load('visualization', '1', {'packages':['geochart']});
google.setOnLoadCallback(lava.charts.GeoChart.Popularity.draw);
{% endhighlight %}
</div>
