<h2>ScatterChart Example</h2>
<h3>Controller</h3>
{% highlight php startinline %}
use Khill\Lavacharts\Lavacharts;

$lava = new Lavacharts; // See note below for Laravel

$datatable = $lava->DataTable();
$datatable->addNumberColumn('Age');
$datatable->addNumberColumn('Weight');

for ($i=0; $i < 30; $i++) {
    $datatable->addRow([rand(20,30), rand(150,250)]);
}

$lava->ScatterChart('AgeWeight', $datatable, [
    'width' => 400,
    'legend' => [
        'position' => 'none'
    ],
    'hAxis' => [
        'title' => 'Age'
    ],
    'vAxis' => [
        'title' => 'Weight'
    ]
]);
{% endhighlight %}
<p class="lead">For Laravel, omit "$lava = new Lavacharts" and replace "$lava->" with "Lava::"</p>
<p>Otherwise, pass <span class="code">$Scatterchart</span> or <span class="code">$lava</span> to your view to render.</p>

<h3>View</h3>
<div class="row">
  <div class="col-sm-6">
    <h4>Vanilla</h4>
{% highlight php startinline %}
<div id="chart-div"></div>
// With the lava object
<?= $lava->render('ScatterChart', 'AgeWeight', 'chart-div') ?>
{% endhighlight %}
  </div>
  <div class="col-sm-6">
    <h4>Laravel</h4>
{% highlight php startinline %}
<div id="chart-div"></div>
// With Lava class alias
<?= Lava::render('ScatterChart', 'AgeWeight', 'chart-div') ?>

// With Blade Templates
@scatterchart('AgeWeight', 'chart-div')
{% endhighlight %}
  </div>
</div>

<div class="center example-img">
  <h3>Rendered Chart</h3>
  <img src="{{ site.baseurl }}/assets/images/examples/scatter.jpg" />
</div>
<br/>

<div class="orange-divider"></div>
