<img src="{{ site.baseurl }}/assets/images/logo.gif" class="img-responsive" style="padding:0 10px; margin:0 auto;" />
<h2>Charts and Graphs for PHP<br />Powered by the Google Chart API</h2>

<div class="my-buttons">
  <a href="//github.com/kevinkhill/lavacharts/releases">
    <img src="//img.shields.io/github/release/kevinkhill/lavacharts.svg?style=plastic" />
  </a>
  <a href="//travis-ci.org/kevinkhill/lavacharts">
    <img src="//img.shields.io/travis/kevinkhill/lavacharts/master.svg?style=plastic" />
  </a>
  <a href="//coveralls.io/r/kevinkhill/lavacharts?branch=master">
    <img src="//img.shields.io/coveralls/kevinkhill/lavacharts/master.svg?style=plastic" />
  </a>
  <a href="//packagist.org/packages/khill/lavacharts">
    <img src="//img.shields.io/packagist/dt/khill/lavacharts.svg?style=plastic" />
  </a>
  <a href="//opensource.org/licenses/MIT">
    <img src="//img.shields.io/packagist/l/khill/lavacharts.svg?style=plastic" />
  </a>
</div>
<br />

<div class="my-buttons">
  <iframe src="//ghbtns.com/github-btn.html?user=kevinkhill&amp;repo=lavacharts&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
  <iframe src="//ghbtns.com/github-btn.html?user=kevinkhill&amp;repo=lavacharts&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
</div>
