<img src="{{ site.baseurl }}/assets/images/logo.gif" class="img-responsive" style="padding:0 10px; margin:0 auto;" />
<h2>Charts and Graphs for PHP<br />Powered by the Google Chart API</h2>

<div class="my-buttons">
  <ul class="shields">
    <li>
      <a href="https://github.com/kevinkhill/lavacharts/releases">
        <img src="https://img.shields.io/github/release/kevinkhill/lavacharts.svg?style=plastic&maxAge=3600" />
      </a>
    </li>
    <li>
      <a href="https://travis-ci.org/kevinkhill/lavacharts">
        <img src="https://img.shields.io/travis/kevinkhill/lavacharts/3.0.svg?style=plastic&maxAge=3600" />
      </a>
    </li>
    <li>
      <a href="https://coveralls.io/r/kevinkhill/lavacharts?branch=master">
        <img src="https://img.shields.io/coveralls/kevinkhill/lavacharts/master.svg?style=plastic&maxAge=3600" />
      </a>
    </li>
    <li>
      <a href="https://packagist.org/packages/khill/lavacharts">
        <img src="https://img.shields.io/packagist/dt/khill/lavacharts.svg?style=plastic&maxAge=3600" />
      </a>
    </li>
    <li>
      <a href="https://opensource.org/licenses/MIT">
        <img src="https://img.shields.io/packagist/l/khill/lavacharts.svg?style=plastic&maxAge=3600" />
      </a>
    </li>
  </ul>
</div>
<br />

<div class="my-buttons">
  <iframe src="https://ghbtns.com/github-btn.html?user=kevinkhill&amp;repo=lavacharts&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=kevinkhill&amp;repo=lavacharts&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
</div>
