<ul class="arrows">
  <li>Select which chart you will be generating.</li>
  <li>Assign the chart a label.</li>
  <li>Assign the datatable to the chart.</li>
  <li>Continue on to render the chart.</li>
</ul>
{% highlight php startinline %}
$chart = $lava->LineChart('myFancyChart');  // Lava::LineChart() if using Laravel

$chart->datatable($stocksTable);

// You could also pass an associative array to setOptions() method
// $chart->setOptions(array(
//   'datatable' => $stocksTable
// ));
{% endhighlight %}
