<p class="lead">Rendering the chart</p>
<p>There are two ways to get your chart to display on your page.</p>
<ol>
	<li>The library will generate only the javascript, and render into a div with a set elementId</li>
	<li>The library will generate everything you need, div and javascript.</li>
</ol>

<p>Syntax: <span class="pre">render(chartType, chartLabel, elementId <em>[, array(height, width)]</em>)</span></p>

{% highlight php startinline %}
// Example #1, output into a div you already created
// <div id="myStocks"></div>
echo Lava::render('LineChart', 'Stocks', 'myStocks');

// Example #2, have the library create the div
echo Lava::render('LineChart', 'Stocks', 'stocks-div', array('height'=>300, 'width'=>600));
{% endhighlight %}
