<p class="lead">Rendering the chart</p>
<p>There are two ways to get your chart to display on your page.</p>
<p>Example #1, Lavacharts will generate everything you need.</p>
<p>Example #2, Lavacharts will output into a div with a set elementId</p>

<p>Syntax: <span class="pre">render(chartType, chartLabel, elementId, <em>array(height, width)</em>)</span></p>

{% highlight php startinline %}
// Example #1, have the library create the div
echo Lava::render('LineChart', 'Stocks', 'stocks-div', array('height'=>300, 'width'=>600));

//Example #2, output into a div you already created
//With an ID such as id="myStocks"
echo Lava::render('LineChart', 'Stocks', 'myStocks');
{% endhighlight %}
