<p>Currently supported configuration options:</p>

{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [
    'annotations'         => [array],        //Annotation Options
    'axisTitlesPosition'  => 'string',
    'barGroupWidth'       => int | 'string'  //As a percent, "33%"
    'dataOpacity'         => float,
    'enableInteractivity' => bool,
    'focusTarget'         => 'string',
    'forceIFrame'         => bool,
    'hAxes'               => [array],        //Arrays of HorizontalAxis Options
    'hAxis'               => [array],        //HorizontalAxis Options
    'orientation'         => 'string',
    'isStacked'           => bool,
    'reverseCategories'   => bool,
    'series'              => [array],        //Numerically indexed, arrays of Series Options
    'theme'               => 'string',
    'vAxis'               => [array],        //VerticalAxis Options
]);
{% endhighlight %}

<p>Learn more about:</p>
<ul>
    <li><a href="#datatables">DataTables</a></li>
    <li><a href="#config-annotation">Annotation Options</a></li>
    <li><a href="#config-horizontalaxis">HorizontalAxis Options</a></li>
    <li><a href="#config-series">Series Options</a></li>
    <li><a href="#config-verticalaxis">VerticalAxis Options</a></li>
</ul>

<p>Explanations for each of the configuration options can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/{{ type }}chart#Configuration_Options">Google's Documentation</a></p>
