<p>Currently supported configuration options:</p>

{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [s
    'cellColor'               => [array],   //Stroke options
    'cellSize'                => int,
    'dayOfWeekLabel'          => [array],   //TextStyle options
    'dayOfWeekRightSpace'     => int,
    'daysOfWeek'              => 'string',
    'focusedCellColor'        => [array],   //Stroke options
    'monthLabel'              => [array],   //TextStyle options
    'monthOutlineColor'       => [array],   //Stroke options
    'underMonthSpace'         => int,
    'underYearSpace'          => int,
    'unusedMonthOutlineColor' => [array],   //Stroke options
    'colorAxis'               => [array],   //ColorAxis options
    'forceIFrame'             => bool,
    'noDataPattern'           => [array],   //Color options

]);
{% endhighlight %}

<p>Learn more about:</p>
<ul>
    <li><a href="#datatables">DataTables</a></li>
    <li><a href="#config-color">Color Options</a></li>
    <li><a href="#config-colorAxis">ColorAxis Options</a></li>
    <li><a href="#config-stroke">Stroke Options</a></li>
    <li><a href="#config-textstyle">TextStyle Options</a></li>
</ul>

<p>Explanations for each of the configuration options can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/{{ type }}chart#Configuration_Options">Google's Documentation</a></p>
