<p>This is a special version of a PieChart, so it shares all the same options.</p>
<p>Currently supported configuration options:</p>

{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [
    // Available PieChart Options,
    'pieHole' => float
]);
{% endhighlight %}

<p>Learn more about:</p>
<ul>
    <li><a href="#datatables">DataTables</a></li>
</ul>

<p>Explanations for each of the configuration options can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/{{ type }}chart#Configuration_Options">Google's Documentation</a></p>
