<p>All of the methods return the <span class="pre">Chart</span> to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the chart's <span class="pre">setOptions()</span> method</p>

<div class="pre">
  <span class="k">forceIFrame</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$fif</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">greenColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$gc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">greenFrom</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$gf</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">greenTo</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$gt</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">majorTicks</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$mt</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">max</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$m</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">min</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$m</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">minorTicks</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$mt</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">redColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$rc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">redFrom</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$rf</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">redTo</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$rt</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">yellowColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$yc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">yellowFrom</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$yf</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">yellowTo</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$yt</span>)
  <span class="s1">returns</span> Chart
</div>

<p>Explanations for each configuration option can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/gauge#Configuration_Options">Google's Config Docs</a></p>
