<p>Currently supported configuration options:</p>

{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [
    'forceIFrame' => bool,
    'greenColor'  => 'string',
    'greenFrom'   => int,
    'greenTo'     => int,
    'majorTicks'  => [array],
    'max'         => int,
    'min'         => int,
    'minorTicks'  => [array],
    'redColor'    => 'string',
    'redFrom'     => int,
    'redTo'       => int,
    'yellowColor' => 'string',
    'yellowFrom'  => int,
    'yellowTo'    => int,
]);
{% endhighlight %}

<h3>Learn more about:</h3>
<ul>
    <li><a href="#datatables">DataTables</a></li>
</ul>

<p>Explanations for each of the configuration options can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/{{ type }}#Configuration_Options">Google's Documentation</a></p>
