<p>Currently supported configuration options:</p>

{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [
    'colorAxis'                 => [array],   //ColorAxis Options
    'datalessRegionColor'       => 'string',
    'displayMode'               => 'string',
    'enableRegionInteractivity' => bool,
    'keepAspectRatio'           => bool,
    'region'                    => 'string',
    'magnifyingGlass'           => [array]    //MagnifyingGlass Options
    'markerOpacity'             => float,
    'resolution'                => 'string',
    'sizeAxis'                  => [array]    //SizeAxis Options
]);
{% endhighlight %}

<p>Learn more about:</p>
<ul>
    <li><a href="#datatables">DataTables</a></li>
    <li><a href="#config-coloraxis">ColorAxis Options</a></li>
    <li><a href="#config-magnifyingglass">MagnifyingGlass Options</a></li>
    <li><a href="#config-sizeaxis">SizeAxis Options</a></li>
</ul>

<p>Explanations for each of the configuration options can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/{{ type }}chart#Configuration_Options">Google's Documentation</a></p>
