<p>All of the methods return the <span class="pre">Chart</span> to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the chart's <span class="pre">setOptions()</span> method</p>

<div class="pre">
  <span class="k">colorAxis</span>(<a href="#config-coloraxis">ColorAxis</a> <span class="nv">$ca</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">datalessRegionColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$drc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">displayMode</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$dm</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">enableRegionInteractivity</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$eri</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">keepAspectRatio</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$kar</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">region</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$r</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">magnifyingGlass</span>(<a href="#config-magnifyingglass">MagnifyingGlass</a> <span class="nv">$mg</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">markerOpacity</span>(<a href="http://php.net/manual/en/language.types.float.php">float</a> <span class="nv">$mo</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">resolution</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$r</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">sizeAxis</span>(<a href="#config-sizeaxis">SizeAxis</a> <span class="nv">$sa</span>)
  <span class="s1">returns</span> Chart
</div>

<p class="lead">Explanations for each configuration option can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/geochart#Configuration_Options">Google's Config Docs</a></p>
