<p>All of the methods (except for setOptions) return the <span class="pre">Chart</span> to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the chart's <span class="pre">setOptions()</span> method</p>

<div class="pre">
  <span class="k">datatable</span>(<a href="#config-datatable">Datatable</a> <span class="nv">$dt</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">setOptions</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$options</span>)
  <span class="s1">returns</span> Chart
</div><!--
<div class="pre">
  <span class="k">getOptions</span>()
</div>
<div class="pre">
  <span class="k">getOption</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$label</span>)
</div>
<div class="pre">
  <span class="k">optionsToJson</span>()
  <span class="s1">returns</span> JSON representation of all the options
</div>-->
<div class="pre">
  <span class="k">backgroundColor</span>(<a href="#config-backgroundcolor">BackgroundColor</a> <span class="nv">$bgc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">chartArea</span>(<a href="#config-chartarea">ChartArea</a> <span class="nv">$ca</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">colors</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$c</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">events</span>()
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">fontSize</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$fs</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">fontName</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$fn</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">height</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$h</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">legend</span>(<a href="#config-legend">Legend</a> <span class="nv">$l</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">title</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$t</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">titlePosition</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$tp</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">titleTextStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$ts</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">tooltip</span>(<a href="#config-tooltip">Tooltip</a> <span class="nv">$t</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">width</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$w</span>)
  <span class="s1">returns</span> Chart
</div>
