<p>All of the different charts extend from the parent chart, to provide common options and methods for all charts.</p>

<h3>Methods</h3>
<p>These methods are available to all charts:</p>
<ul>
  <li><code>setOptions()</code></li>
  <li><code>getDataTableJson()</code></li>
</ul>


<h3>Options</h3>
<p>These options are available to all charts:</p>
{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [
    'backgroundColor'   => [array],   //BackgroundColor Options
    'chartArea'         => [array],   //ChartArea Options
    'colors'            => [array],
    'events'            => [array],   //Associative array of events to callbacks
    'fontSize'          => int,
    'fontName'          => 'string',
    'height'            => int,
    'legend'            => [array],   //Legend Options
    'title'             => 'string',
    'titlePosition'     => 'string',
    'titleTextStyle'    => [array],   //TextStyle Options
    'tooltip'           => [array],   //Tooltip Options
    'width'             => int
]);
{% endhighlight %}

<h3>Learn More</h3>
<p>Jump to the available options for the different configuration options.</p>
<ul>
    <li><a href="#datatables">DataTables</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#config-backgroundcolor">BackgroundColor Options</a></li>
    <li><a href="#config-chartarea">ChartArea Options</a></li>
    <li><a href="#config-horizontalaxis">HorizontalAxis Options</a></li>
    <li><a href="#config-textstyle">TextStyle Options</a></li>
    <li><a href="#config-tooltip">Tooltip Options</a></li>
    <li><a href="#config-verticalaxis">VerticalAxis Options</a></li>
</ul>
