<p>All of the methods return the <span class="pre">Chart</span> to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the chart's <span class="pre">setOptions()</span> method</p>

<div class="pre">
  <span class="k">is3D</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$i</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">slices</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="c1">/* of <a href="#config-slice">Slice</a> objects */</span> <span class="nv">$s</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pieSliceBorderColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$psbc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pieSliceText</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$pst</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pieSliceTextStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$psts</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pieStartAngle</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$psa</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">reverseCategories</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$rc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">sliceVisibilityThreshold</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> | <a href="http://php.net/manual/en/language.types.float.php">float</a> <span class="nv">$svt</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pieResidueSliceColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$prsc</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pieResidueSliceLabel</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$prsl</span>)
  <span class="s1">returns</span> Chart
</div>

<p>Explanations for each configuration option can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/piechart#Configuration_Options">Google's Config Docs</a></p>
