<p>Currently supported configuration options:</p>

{% highlight php startinline %}
$lava->{{ type | capitalize }}Chart('Title', $DataTable, [
    'is3D'                     => bool,
    'slices'                   => [array],   //Arrays of Slice Options
    'pieSliceBorderColor'      => 'string',
    'pieSliceText'             => 'string',
    'pieSliceTextStyle'        => [array],   //TextStyle options
    'pieStartAngle'            => int,
    'reverseCategories'        => bool,
    'sliceVisibilityThreshold' => int | float,
    'pieResidueSliceColor'     => 'string',
    'pieResidueSliceLabel'     => 'string'
]);
{% endhighlight %}

<p>Learn more about:</p>
<ul>
    <li><a href="#datatables">DataTables</a></li>
    <li><a href="#config-coloraxis">ColorAxis Options</a></li>
    <li><a href="#config-magnifyingglass">MagnifyingGlass Options</a></li>
    <li><a href="#config-sizeaxis">SizeAxis Options</a></li>
    <li><a href="#config-textstyle">TextStyle Options</a></li>
</ul>

<p>Explanations for each of the configuration options can be found in <a href="https://developers.google.com/chart/interactive/docs/gallery/{{ type }}chart#Configuration_Options">Google's Documentation</a></p>
