<p>All the methods that return <span class="pre">Chart</span> enable the chaining of configuration options</p>
<p>Any of the method names can also be used as the key in an associative array, to pass into the chart's <span class="pre">setOptions()</span> method</p>
<div class="pre">
  <span class="k">areaOpacity</span>(<a href="http://php.net/manual/en/language.types.float.php">float</a> <span class="nv">$ao</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">axisTitlesPosition</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$atp</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">hAxis</span>(<a href="#config-horizontalaxis">HorizontalAxis</a> <span class="nv">$ha</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">interpolateNulls</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$in</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">lineWidth</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$lw</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">pointSize</span>(<a href="http://php.net/manual/en/language.types.integer.php">int</a> <span class="nv">$ps</span>)
  <span class="s1">returns</span> Chart
</div>
<div class="pre">
  <span class="k">vAxis</span>(<a href="#config-horizontalaxis">VerticalAxis</a> <span class="nv">$ha</span>)
  <span class="s1">returns</span> Chart
</div>