<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html %}
	<style type="text/css">
		#v3-preview {
			width: 100%;
			height: 20px;
			background-color: #F3971F;
			text-align: center;
		}

		#v3-preview a {
			font-weight: 700;
			color: #CD3E3A;
		}

		@media screen and (min-width:768px) {
			.navbar-fixed-top {
				top: 20px !important;
			}
		}
	</style>
</head>

<body>
	<div id="v3-preview" class="hidden-xs">
		Version 3 is coming soon! <a href="/v3">Click here</a> for a sneak peek...</a>
	</div>
	{% include menu.html %}

	<div id="wrap">
		<div class="container">
			{% include banner.html %}

			{{ content }}

    </div><!--container-->
	</div><!--warp-->

	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>
</html>
