<!DOCTYPE html>
<html>
  <head>
    <title>Lavacharts by kevinkhill</title>
    <meta name="keywords" content="chart, laravel, bundle, package, composer, php" />
    <meta name="description" content="Charts & Graphs for Laravel powered by the Google Chart API." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no">

    <link rel="icon" href="{{ site.baseurl }}/images/v1/favicon.ico" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link href="{{ site.baseurl }}/css/v1/master.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{ site.baseurl }}/js/v1/master.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.subMenu').smint({
                'scrollSpeed' : 500
            });

            $(window).on('scroll', function() {
                var st = $(this).scrollTop()-180;
                $('.welcome').css({
                    'opacity' : (1 - st/150)
                });
            });

            function scrollToAnchor(aid){
                var aTag = $("a[name='"+ aid +"']");
                $('html,body').animate({scrollTop: aTag.offset().top -120});
            }

            $('a[href^="#"]').each(function(){
                var $this = $(this);

                $this.click(function(event){
                    event.preventDefault();

                    var url = $this.attr('href');
                    var parts = url.split("#");
                    var target = parts[1];

                    scrollToAnchor(target);
                });
            });
        });
    </script>
  </head>

  <body>
    <a href="//github.com/kevinkhill/lavacharts" id="forkMe">
    <img src="{{ site.baseurl }}/images/v1/forkme.png" alt="Fork me on GitHub">

      <div class="wrap">
        <div class="subMenu" >
            <div class="inner">
                <a href="#" id="sTop" class="subNavBtn">Lavacharts</a>
                <a href="#" id="s1" class="subNavBtn">Intro</a>
                <a href="#" id="s2" class="subNavBtn">Installing</a>
                <a href="#" id="s3" class="subNavBtn">Usage</a>
                <a href="#" id="s4" class="subNavBtn">Examples</a>
                <a href="#" id="s5" class="subNavBtn end">API</a>
            </div>
        </div>

        <div class="section sTop">
            <div class="inner">
                <div class="welcome">
                    <table>
                        <tr>
                            <td>
                                <a href="//laravel.com" title="Laravel PHP Framework">
                                    <img src="{{ site.baseurl }}/images/v1/laravel.png" alt="Laravel Logo">
                                </a>
                            </td>
                            <td style="vertical-align: middle;">
                                <span id="plus">+</span>
                            </td>
                            <td>
                                <a href="//developers.google.com/chart/interactive/docs/gallery" title="Google Chart Gallery">
                                    <img src="{{ site.baseurl }}/images/v1/googledev.png" alt="Google Developers Logo">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <h1>Welcome to Lavacharts</h1>
                    <h2>Charts & Graphs for Laravel<br />Powered by the Google Chart API</h2>
                </div>
            </div>
            <br class="clear">
        </div>

			 {{ content }}

      </div><!--endwrap-->



      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43288838-2', 'auto');
        ga('send', 'pageview');
      </script>

      <script type="text/javascript">
          $(function() {
              setTimeout(function() {
                  $(".prettyprint span").each(function(){
                      var text = $(this).text();
                      $(this).html(text.replace('Lava', '<span style="color:red;">Lava</span>'));
                  });
              }, 500);

              drawer.bindTabClick()
              drawer.bindOutsideClick();
          });
      </script>
    </body>
</html>
