<p>All of the methods return the <span class="pre">Axis</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Axis's constructor</p>

<!--<div class="pre">
  <span class="k">baseline</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$s</span>)
  <span class="s1">returns</span> Axis
</div>-->
<div class="pre">
  <span class="k">baselineColor</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$blc</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">direction</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$d</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">format</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$f</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">gridlines</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$g</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">minorGridlines</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$mg</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">logScale</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$ls</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">textPosition</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$tp</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">title</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$t</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">titleTextStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$tts</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">maxValue</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$mv</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">minValue</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$mv</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">viewWindowMode</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$vwm</span>)
  <span class="s1">returns</span> Axis
</div>
<div class="pre">
  <span class="k">viewWindow</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$vw</span>)
  <span class="s1">returns</span> Axis
</div>