<p>All of the methods return the <span class="pre">BoxStyle</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the BoxStyle's constructor</p>

<div class="pre">
  <span class="k">stroke</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$s</span>)
  <span class="s1">returns</span> BoxStyle
</div>
<div class="pre">
  <span class="k">strokeWidth</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$sw</span>)
  <span class="s1">returns</span> BoxStyle
</div>
<div class="pre">
  <span class="k">rx</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$rx</span>)
  <span class="s1">returns</span> BoxStyle
</div>
<div class="pre">
  <span class="k">ry</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$ry</span>)
  <span class="s1">returns</span> BoxStyle
</div>
<div class="pre">
  <span class="k">gradient</span>(<a href="#config-gradient">Gradient</a> <span class="nv">$g</span>)
  <span class="s1">returns</span> BoxStyle
</div>