<p>All of the methods return the <span class="pre">ColorAxis</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the ColorAxis's constructor</p>

<div class="pre">
  <span class="k">minValue</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$mv</span>)
  <span class="s1">returns</span> ColorAxis
</div>
<div class="pre">
  <span class="k">maxValue</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$mv</span>)
  <span class="s1">returns</span> ColorAxis
</div>
<div class="pre">
  <span class="k">values</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$v</span>)
  <span class="s1">returns</span> ColorAxis
</div>
<div class="pre">
  <span class="k">colors</span>(<a href="http://php.net/manual/en/language.types.array.php">array</a> <span class="nv">$c</span>)
  <span class="s1">returns</span> ColorAxis
</div>