<p>All of the methods return the <span class="pre">MagnifyingGlass</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the MagnifyingGlass's constructor</p>

<div class="pre">
  <span class="k">enable</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$hc</span>)
  <span class="s1">returns</span> MagnifyingGlass
</div>
<div class="pre">
  <span class="k">zoomFactor</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$zf</span>)
  <span class="s1">returns</span> MagnifyingGlass
</div>