<p>The <span class="pre">MagnifyingGlass</span> object is created by passing an <span class="pree">int</span> to the constructor to set the ZoomFactor</p>
<p>The default zoomFactor is 5, and can also be set with the named method.</p>

<!--<div class="pre">
  <span class="k">enable</span>(<a href="http://php.net/manual/en/language.types.boolean.php">bool</a> <span class="nv">$hc</span>)
  <span class="s1">returns</span> MagnifyingGlass
</div>-->
<div class="pre">
  <span class="k">zoomFactor</span>(<a href="http://php.net/manual/en/language.types.int.php">int</a> <span class="nv">$zf</span>)
  <span class="s1">returns</span> MagnifyingGlass
</div>
