<p>All of the methods return the <span class="pre">Series</span> object to enable the chaining of configuration options</p>
<p>Alternatively, you can build an associative array, using the method names as keys, and pass the array into the Series's constructor</p>

<div class="pre">
  <span class="k">annotation</span>(<a href="#config-annotation">Annotation</a> <span class="nv">$a</span>)
  <span class="s1">returns</span> Series
</div>
<div class="pre">
  <span class="k">curveType</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$ct</span>)
  <span class="s1">returns</span> Series
</div>
<div class="pre">
  <span class="k">seriesTargetAxis</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$sta</span>)
  <span class="s1">returns</span> Series
</div>
<div class="pre">
  <span class="k">textStyle</span>(<a href="#config-textstyle">TextStyle</a> <span class="nv">$ts</span>)
  <span class="s1">returns</span> Series
</div>
<div class="pre">
  <span class="k">type</span>(<a href="http://php.net/manual/en/language.types.string.php">string</a> <span class="nv">$t</span>)
  <span class="s1">returns</span> Series
</div>